@import url(../css/font-awesome.min.css);
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
$body-bg: #FFF;
$app-width: 100%;
$borders-color: #e5eced;
$text-color: #000;
*/
@-webkit-keyframes sidebareffect {
  /* line 2, ../sass/_animations.scss */
  from {
    -webkit-transform: translate(100%, 0);
  }

  /* line 3, ../sass/_animations.scss */
  to {
    -webkit-transform: translate(0, 0);
  }
}

@-webkit-keyframes sidebareffect2 {
  /* line 7, ../sass/_animations.scss */
  from {
    -webkit-transform: translate(0, 0);
  }

  /* line 8, ../sass/_animations.scss */
  to {
    -webkit-transform: translate(100%, 0);
  }
}

@-webkit-keyframes spin {
  /* line 12, ../sass/_animations.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 13, ../sass/_animations.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* line 1, ../sass/_frame.scss */
body {
  -webkit-user-select: none;
}

/* line 5, ../sass/_frame.scss */
button {
  -webkit-app-region: no-drag;
}

/* line 9, ../sass/_frame.scss */
#header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* line 1, ../sass/_tooltip.scss */
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 11, ../sass/_tooltip.scss */
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/* line 15, ../sass/_tooltip.scss */
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}

/* line 19, ../sass/_tooltip.scss */
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}

/* line 23, ../sass/_tooltip.scss */
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

/* line 27, ../sass/_tooltip.scss */
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

/* line 31, ../sass/_tooltip.scss */
.tooltip-inner {
  max-width: 200px;
  padding: 5px 10px !important;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}

/* line 40, ../sass/_tooltip.scss */
.tooltip-arrow {
  position: absolute !important;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  padding: 0 !important;
}

/* line 48, ../sass/_tooltip.scss */
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}

/* line 55, ../sass/_tooltip.scss */
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}

/* line 61, ../sass/_tooltip.scss */
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}

/* line 67, ../sass/_tooltip.scss */
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}

/* line 74, ../sass/_tooltip.scss */
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}

/* line 81, ../sass/_tooltip.scss */
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

/* line 88, ../sass/_tooltip.scss */
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

/* line 94, ../sass/_tooltip.scss */
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

/*
-- Global elements */
/* line 6, ../sass/_layout.scss */
html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 12, ../sass/_layout.scss */
body {
  background: #181817;
  border-radius: 5px;
  cursor: default;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
}

/* line 21, ../sass/_layout.scss */
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
}

/* line 26, ../sass/_layout.scss */
button:hover {
  cursor: pointer;
}

/* line 27, ../sass/_layout.scss */
:focus {
  outline: 0;
}

/* line 28, ../sass/_layout.scss */
a {
  text-decoration: none;
}

/* line 30, ../sass/_layout.scss */
.page {
  overflow-x: hidden;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  background: #181817;
  height: 100%;
  position: absolute;
  width: 100%;
}
/* line 11, ../sass/_utils.scss */
.page::-webkit-scrollbar {
  background: none;
  width: 9px;
}
/* line 15, ../sass/_utils.scss */
.page::-webkit-scrollbar-button {
  display: none;
}
/* line 18, ../sass/_utils.scss */
.page::-webkit-scrollbar-track {
  display: none;
}
/* line 21, ../sass/_utils.scss */
.page::-webkit-scrollbar-track-piece {
  display: none;
}
/* line 24, ../sass/_utils.scss */
.page::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  background-clip: content-box;
  border-radius: 10px;
  border: 2px solid transparent;
}
/* line 30, ../sass/_utils.scss */
.page::-webkit-scrollbar-corner {
  display: none;
}
/* line 33, ../sass/_utils.scss */
.page::-webkit-resizer {
  display: none;
}
/* line 38, ../sass/_utils.scss */
.page:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 44, ../sass/_utils.scss */
.page:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 37, ../sass/_layout.scss */
.page.notransition .movie {
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}

/* line 41, ../sass/_layout.scss */
.btn {
  -webkit-transition: background-color ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: background-color ease 0.3s;
  -o-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
  color: #999999;
  display: inline-block;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  padding: 7px 12px;
  background: #286dc4;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #3076ce 0%, #175ab0 100%);
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

/* line 57, ../sass/_layout.scss */
.btn-action {
  background: #bb2720;
  border: 0;
  border-radius: 5px;
  color: #FFF;
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  width: 155px;
}

/* line 76, ../sass/_layout.scss */
.flag {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
/* line 82, ../sass/_layout.scss */
.flag.flag-english {
  background-image: url(../images/english.png);
}
/* line 83, ../sass/_layout.scss */
.flag.flag-french {
  background-image: url(../images/french.png);
}
/* line 84, ../sass/_layout.scss */
.flag.flag-dutch {
  background-image: url(../images/dutch.png);
}
/* line 85, ../sass/_layout.scss */
.flag.flag-portuguese {
  background-image: url(../images/portuguese.png);
}
/* line 86, ../sass/_layout.scss */
.flag.flag-romanian {
  background-image: url(../images/romanian.png);
}
/* line 87, ../sass/_layout.scss */
.flag.flag-spanish {
  background-image: url(../images/spanish.png);
}
/* line 88, ../sass/_layout.scss */
.flag.flag-turkish {
  background-image: url(../images/turkish.png);
}
/* line 90, ../sass/_layout.scss */
.flag.flag-brazilian {
  background-image: url(../images/brazilian.png);
}

/*
-- App */
/* line 98, ../sass/_layout.scss */
#header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
  height: 45px;
  left: 0;
  padding: 15px;
  position: absolute;
  top: 0;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  width: 100%;
  background-image: linear-gradient(to bottom, #30302e 0%, #232322 100%);
}
/* line 111, ../sass/_layout.scss */
#header h1 {
  font-size: 13px;
}
/* line 115, ../sass/_layout.scss */
#header .btn-set {
  position: absolute;
  left: 15px;
  top: 17px;
}
/* line 120, ../sass/_layout.scss */
#header .btn-set.right {
  right: 7px;
  left: initial;
  top: 5px;
}
/* line 127, ../sass/_layout.scss */
#header .btn-set:hover .btn-os {
  color: rgba(0, 0, 0, 0.8);
}
/* line 129, ../sass/_layout.scss */
#header .btn-set button {
  display: block;
  float: left;
  margin: 0 6px 0 0;
  background: #141414;
}
/* line 135, ../sass/_layout.scss */
#header .btn-set button.btn-os {
  border-radius: 30px;
  border: 0;
  color: transparent;
  display: inline-block;
  font-size: 10px;
  height: 12px;
  padding: 0;
  text-align: center;
  width: 12px;
}
/* line 148, ../sass/_layout.scss */
#header .btn-set button.debug {
  background: #fff;
  content: 'D';
  color: #000;
  line-height: 9px;
  padding: 0 5px;
  text-transform: uppercase;
  width: auto;
}
/* line 158, ../sass/_layout.scss */
#header .btn-set button.close:hover {
  background: #e74c3c;
}
/* line 159, ../sass/_layout.scss */
#header .btn-set button.max:hover {
  background: #27ae60;
}
/* line 160, ../sass/_layout.scss */
#header .btn-set button.min:hover {
  background: #f1c40f;
}
/* line 161, ../sass/_layout.scss */
#header .btn-set button.fullscreen {
  color: #000;
  background: transparent;
  margin: 0;
  width: 32px;
  height: 32px;
  border-radius: 0;
  display: block;
}
/* line 162, ../sass/_layout.scss */
#header .btn-set button.fullscreen::before {
  content: "\e000";
  font-family: VideoJS;
  font-size: 1.85em;
  line-height: 0.2em;
  background: none;
  display: block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
/* line 171, ../sass/_layout.scss */
#header .btn-set button.fullscreen.active::before {
  content: "\e00B";
}

/* line 180, ../sass/_layout.scss */
#notification {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 45px;
  height: 45px;
  left: 0px;
  right: 0px;
  font-size: 13px;
  font-weight: bold;
  line-height: 27px;
  padding: 9px 15px;
  background: #e20f3c;
  color: #fff;
  border: 1px solid #000;
  border-top: none;
  display: none;
}
/* line 197, ../sass/_layout.scss */
#notification .btn {
  position: absolute;
  top: 6px;
  right: 15px;
  background-image: none;
  background: rgba(0, 0, 0, 0.4);
}

/* line 207, ../sass/_layout.scss */
#catalog-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  width: 180px;
  position: absolute;
  top: 45px;
  padding: 20px;
  height: calc(100% - 45px);
  background: #121212;
  border-right: 1px solid #000;
  font-family: 'Myriad Pro', 'Lucida Grande', sans-serif;
}
/* line 11, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar {
  background: none;
  width: 9px;
}
/* line 15, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar-button {
  display: none;
}
/* line 18, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar-track {
  display: none;
}
/* line 21, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar-track-piece {
  display: none;
}
/* line 24, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  background-clip: content-box;
  border-radius: 10px;
  border: 2px solid transparent;
}
/* line 30, ../sass/_utils.scss */
#catalog-select::-webkit-scrollbar-corner {
  display: none;
}
/* line 33, ../sass/_utils.scss */
#catalog-select::-webkit-resizer {
  display: none;
}
/* line 38, ../sass/_utils.scss */
#catalog-select:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 44, ../sass/_utils.scss */
#catalog-select:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 219, ../sass/_layout.scss */
#catalog-select h4 {
  margin-top: 40px;
  color: #404040;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 227, ../sass/_layout.scss */
#catalog-select ul li {
  display: block;
  font-weight: bold;
  font-size: 13px;
}
/* line 232, ../sass/_layout.scss */
#catalog-select ul li a {
  -webkit-transition: background-color ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: background-color ease 0.3s;
  -o-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
  color: #999999;
  display: block;
  border-radius: 3px;
  padding: 8px;
}
/* line 239, ../sass/_layout.scss */
#catalog-select ul li a:hover {
  background: #010101;
}
/* line 244, ../sass/_layout.scss */
#catalog-select ul li.active a,
#catalog-select ul li.active a:hover {
  background: #286dc4;
  background-image: linear-gradient(to bottom, #3076ce 0%, #175ab0 100%);
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  cursor: default;
}
/* line 256, ../sass/_layout.scss */
#catalog-select .search {
  position: absolute;
  right: 20px;
  top: 12px;
}
/* line 261, ../sass/_layout.scss */
#catalog-select .search input {
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: #FFF;
  font-size: 12px;
  height: 15px;
  padding: 8px 10px;
  width: 115px;
  background: transparent;
  font-weight: bold;
}
/* line 273, ../sass/_layout.scss */
#catalog-select .search i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.4);
}

/* line 284, ../sass/_layout.scss */
.container {
  height: calc(100% - 45px);
  overflow: hidden;
  margin: 45px 0 0 180px;
  position: relative;
}

/* line 294, ../sass/_layout.scss */
body.has-notification .container {
  height: calc(100% - 45px - 45px);
  margin: 90px 0 0 180px;
}
/* line 299, ../sass/_layout.scss */
body.has-notification #catalog-select {
  top: 90px;
  height: calc(100% - 45px - 45px);
}
/* line 304, ../sass/_layout.scss */
body.has-notification #notification {
  display: block;
}

/* line 309, ../sass/_layout.scss */
.popcorn-load {
  -webkit-transition: opacity ease;
  -webkit-transition-delay: 1s;
  -moz-transition: opacity ease 1s;
  -o-transition: opacity ease 1s;
  transition: opacity ease 1s;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  height: calc(100% - 45px);
  left: 0;
  opacity: 1;
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 999;
}
/* line 321, ../sass/_layout.scss */
.popcorn-load.hidden {
  opacity: 0;
  pointer-events: none;
}
/* line 326, ../sass/_layout.scss */
.popcorn-load .wrapper {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 40px;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}
/* line 335, ../sass/_layout.scss */
.popcorn-load .text {
  font-size: 22px;
}
/* line 337, ../sass/_layout.scss */
.popcorn-load .spinner {
  background: url(../images/spinner.svg) no-repeat 0 0;
  background-size: cover;
  display: block;
  height: 45px;
  margin: 10px auto;
  -webkit-animation: 1.05s spin  infinite linear;
  width: 45px;
}
/* line 347, ../sass/_layout.scss */
.popcorn-load .progressbar {
  display: none;
  height: 14px;
  width: 250px;
  margin: 0px auto;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid #FFF;
  overflow: hidden;
  padding: 3px;
}
/* line 358, ../sass/_layout.scss */
.popcorn-load .progressbar .progress {
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
  display: block;
  height: 14px;
  width: 0%;
  min-width: 5.5%;
  background: #FFF;
  border-radius: 40px;
}
/* line 369, ../sass/_layout.scss */
.popcorn-load .progressinfo {
  display: none;
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;
  bottom: -40px;
}
/* line 382, ../sass/_layout.scss */
.popcorn-load .btn-close {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 15px;
  left: 15px;
  -webkit-app-region: no-drag;
}
/* line 392, ../sass/_layout.scss */
.popcorn-load.withProgressBar .progressbar {
  display: block;
}
/* line 393, ../sass/_layout.scss */
.popcorn-load.withProgressBar .progressinfo {
  display: block;
}
/* line 394, ../sass/_layout.scss */
.popcorn-load.withProgressBar .spinner {
  display: none;
}
/* line 398, ../sass/_layout.scss */
.popcorn-load.cancellable .btn-close {
  display: block;
}

/* line 402, ../sass/_layout.scss */
.popcorn-disclaimer {
  -webkit-transition: opacity ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: opacity ease 0.3s;
  -o-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
  background: #000000;
  color: #fff;
  height: calc(100% - 45px);
  left: 0;
  opacity: 1;
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 999;
}
/* line 414, ../sass/_layout.scss */
.popcorn-disclaimer.hidden {
  opacity: 0;
  pointer-events: none;
}
/* line 419, ../sass/_layout.scss */
.popcorn-disclaimer .wrapper {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}
/* line 428, ../sass/_layout.scss */
.popcorn-disclaimer .text {
  display: block;
  font-size: 22px;
  line-height: 150%;
  width: 30em;
  margin: 0px auto;
  margin-bottom: 15px;
}
/* line 437, ../sass/_layout.scss */
.popcorn-disclaimer .btn {
  padding: 1.1em 3em;
  font-size: 18px;
}
/* line 441, ../sass/_layout.scss */
.popcorn-disclaimer .btn.continue {
  font-size: 18px;
  font-weight: bold;
  background: #53A93F;
}
/* line 446, ../sass/_layout.scss */
.popcorn-disclaimer .btn.quit {
  font-size: 18px;
  background: #e20f3c;
  font-weight: normal;
}

/* line 3, ../sass/_movielist.scss */
.movie-list {
  margin-bottom: 15px;
}
/* line 6, ../sass/_movielist.scss */
.movie-list li {
  height: 195px;
  width: 132px;
  padding: 0;
  display: inline-block;
  margin: 10px;
  border-radius: 3px;
  position: relative;
  background: #000;
}
/* line 16, ../sass/_movielist.scss */
.movie-list li:hover i {
  opacity: 1;
}
/* line 18, ../sass/_movielist.scss */
.movie-list li i {
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  display: block;
  position: absolute;
  bottom: 0;
  line-height: 195px;
  right: 0;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 60px;
  opacity: 0;
  width: 101%;
  height: 101%;
  z-index: 10;
}
/* line 37, ../sass/_movielist.scss */
.movie-list li .cover {
  width: 133px;
  height: 196px;
  overflow: hidden;
  display: block;
  margin: 0 0 10px 0;
  border-radius: 3px;
  background: url(../images/posterholder.png) no-repeat 50% 50%;
  -webkit-transform: translateZ(0);
}
/* line 48, ../sass/_movielist.scss */
.movie-list li img {
  -webkit-transition: all ease;
  -webkit-transition-delay: 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 3px;
  -webkit-transform: translateZ(0);
}
/* line 60, ../sass/_movielist.scss */
.movie-list li img.placeholder {
  -webkit-filter: grayscale(1);
  -webkit-transform: scale(1.15) translateY(-5px);
  z-index: 1;
  border-radius: 3px;
}
/* line 67, ../sass/_movielist.scss */
.movie-list li img.real {
  opacity: 1;
  z-index: 2;
  border-radius: 3px;
}
/* line 73, ../sass/_movielist.scss */
.movie-list li img.hidden {
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;
}
/* line 80, ../sass/_movielist.scss */
.movie-list li a {
  display: block;
  height: 196px;
  width: 133px;
}
/* line 86, ../sass/_movielist.scss */
.movie-list li strong {
  color: #FFF;
  display: block;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 96, ../sass/_movielist.scss */
.movie-list li small {
  font-size: 12px;
  color: #666;
}
/* line 101, ../sass/_movielist.scss */
.movie-list li::before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.15), 0 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  border: 1px solid #000;
  z-index: 3;
}

/* line 117, ../sass/_movielist.scss */
.movie {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  -moz-transition: opacity 0.3s ease, -moz-transform 0.3s ease;
  -o-transition: opacity 0.3s ease, -o-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(1) {
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(2) {
  -webkit-transition-delay: 0s, 0.1s;
  -moz-transition-delay: 0s, 0.1s;
  -o-transition-delay: 0s, 0.1s;
  transition-delay: 0s, 0.1s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(3) {
  -webkit-transition-delay: 0s, 0.2s;
  -moz-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(4) {
  -webkit-transition-delay: 0s, 0.3s;
  -moz-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(5) {
  -webkit-transition-delay: 0s, 0.4s;
  -moz-transition-delay: 0s, 0.4s;
  -o-transition-delay: 0s, 0.4s;
  transition-delay: 0s, 0.4s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(6) {
  -webkit-transition-delay: 0s, 0.5s;
  -moz-transition-delay: 0s, 0.5s;
  -o-transition-delay: 0s, 0.5s;
  transition-delay: 0s, 0.5s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(7) {
  -webkit-transition-delay: 0s, 0.6s;
  -moz-transition-delay: 0s, 0.6s;
  -o-transition-delay: 0s, 0.6s;
  transition-delay: 0s, 0.6s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(8) {
  -webkit-transition-delay: 0s, 0.7s;
  -moz-transition-delay: 0s, 0.7s;
  -o-transition-delay: 0s, 0.7s;
  transition-delay: 0s, 0.7s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(9) {
  -webkit-transition-delay: 0s, 0.8s;
  -moz-transition-delay: 0s, 0.8s;
  -o-transition-delay: 0s, 0.8s;
  transition-delay: 0s, 0.8s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(10) {
  -webkit-transition-delay: 0s, 0.9s;
  -moz-transition-delay: 0s, 0.9s;
  -o-transition-delay: 0s, 0.9s;
  transition-delay: 0s, 0.9s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(11) {
  -webkit-transition-delay: 0s, 1s;
  -moz-transition-delay: 0s, 1s;
  -o-transition-delay: 0s, 1s;
  transition-delay: 0s, 1s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(12) {
  -webkit-transition-delay: 0s, 1.1s;
  -moz-transition-delay: 0s, 1.1s;
  -o-transition-delay: 0s, 1.1s;
  transition-delay: 0s, 1.1s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(13) {
  -webkit-transition-delay: 0s, 1.2s;
  -moz-transition-delay: 0s, 1.2s;
  -o-transition-delay: 0s, 1.2s;
  transition-delay: 0s, 1.2s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(14) {
  -webkit-transition-delay: 0s, 1.3s;
  -moz-transition-delay: 0s, 1.3s;
  -o-transition-delay: 0s, 1.3s;
  transition-delay: 0s, 1.3s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(15) {
  -webkit-transition-delay: 0s, 1.4s;
  -moz-transition-delay: 0s, 1.4s;
  -o-transition-delay: 0s, 1.4s;
  transition-delay: 0s, 1.4s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(16) {
  -webkit-transition-delay: 0s, 1.5s;
  -moz-transition-delay: 0s, 1.5s;
  -o-transition-delay: 0s, 1.5s;
  transition-delay: 0s, 1.5s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(17) {
  -webkit-transition-delay: 0s, 1.6s;
  -moz-transition-delay: 0s, 1.6s;
  -o-transition-delay: 0s, 1.6s;
  transition-delay: 0s, 1.6s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(18) {
  -webkit-transition-delay: 0s, 1.7s;
  -moz-transition-delay: 0s, 1.7s;
  -o-transition-delay: 0s, 1.7s;
  transition-delay: 0s, 1.7s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(19) {
  -webkit-transition-delay: 0s, 1.8s;
  -moz-transition-delay: 0s, 1.8s;
  -o-transition-delay: 0s, 1.8s;
  transition-delay: 0s, 1.8s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(20) {
  -webkit-transition-delay: 0s, 1.9s;
  -moz-transition-delay: 0s, 1.9s;
  -o-transition-delay: 0s, 1.9s;
  transition-delay: 0s, 1.9s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(21) {
  -webkit-transition-delay: 0s, 2s;
  -moz-transition-delay: 0s, 2s;
  -o-transition-delay: 0s, 2s;
  transition-delay: 0s, 2s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(22) {
  -webkit-transition-delay: 0s, 2.1s;
  -moz-transition-delay: 0s, 2.1s;
  -o-transition-delay: 0s, 2.1s;
  transition-delay: 0s, 2.1s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(23) {
  -webkit-transition-delay: 0s, 2.2s;
  -moz-transition-delay: 0s, 2.2s;
  -o-transition-delay: 0s, 2.2s;
  transition-delay: 0s, 2.2s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(24) {
  -webkit-transition-delay: 0s, 2.3s;
  -moz-transition-delay: 0s, 2.3s;
  -o-transition-delay: 0s, 2.3s;
  transition-delay: 0s, 2.3s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(25) {
  -webkit-transition-delay: 0s, 2.4s;
  -moz-transition-delay: 0s, 2.4s;
  -o-transition-delay: 0s, 2.4s;
  transition-delay: 0s, 2.4s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(26) {
  -webkit-transition-delay: 0s, 2.5s;
  -moz-transition-delay: 0s, 2.5s;
  -o-transition-delay: 0s, 2.5s;
  transition-delay: 0s, 2.5s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(27) {
  -webkit-transition-delay: 0s, 2.6s;
  -moz-transition-delay: 0s, 2.6s;
  -o-transition-delay: 0s, 2.6s;
  transition-delay: 0s, 2.6s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(28) {
  -webkit-transition-delay: 0s, 2.7s;
  -moz-transition-delay: 0s, 2.7s;
  -o-transition-delay: 0s, 2.7s;
  transition-delay: 0s, 2.7s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(29) {
  -webkit-transition-delay: 0s, 2.8s;
  -moz-transition-delay: 0s, 2.8s;
  -o-transition-delay: 0s, 2.8s;
  transition-delay: 0s, 2.8s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(30) {
  -webkit-transition-delay: 0s, 2.9s;
  -moz-transition-delay: 0s, 2.9s;
  -o-transition-delay: 0s, 2.9s;
  transition-delay: 0s, 2.9s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(31) {
  -webkit-transition-delay: 0s, 3s;
  -moz-transition-delay: 0s, 3s;
  -o-transition-delay: 0s, 3s;
  transition-delay: 0s, 3s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(32) {
  -webkit-transition-delay: 0s, 3.1s;
  -moz-transition-delay: 0s, 3.1s;
  -o-transition-delay: 0s, 3.1s;
  transition-delay: 0s, 3.1s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(33) {
  -webkit-transition-delay: 0s, 3.2s;
  -moz-transition-delay: 0s, 3.2s;
  -o-transition-delay: 0s, 3.2s;
  transition-delay: 0s, 3.2s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(34) {
  -webkit-transition-delay: 0s, 3.3s;
  -moz-transition-delay: 0s, 3.3s;
  -o-transition-delay: 0s, 3.3s;
  transition-delay: 0s, 3.3s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(35) {
  -webkit-transition-delay: 0s, 3.4s;
  -moz-transition-delay: 0s, 3.4s;
  -o-transition-delay: 0s, 3.4s;
  transition-delay: 0s, 3.4s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(36) {
  -webkit-transition-delay: 0s, 3.5s;
  -moz-transition-delay: 0s, 3.5s;
  -o-transition-delay: 0s, 3.5s;
  transition-delay: 0s, 3.5s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(37) {
  -webkit-transition-delay: 0s, 3.6s;
  -moz-transition-delay: 0s, 3.6s;
  -o-transition-delay: 0s, 3.6s;
  transition-delay: 0s, 3.6s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(38) {
  -webkit-transition-delay: 0s, 3.7s;
  -moz-transition-delay: 0s, 3.7s;
  -o-transition-delay: 0s, 3.7s;
  transition-delay: 0s, 3.7s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(39) {
  -webkit-transition-delay: 0s, 3.8s;
  -moz-transition-delay: 0s, 3.8s;
  -o-transition-delay: 0s, 3.8s;
  transition-delay: 0s, 3.8s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(40) {
  -webkit-transition-delay: 0s, 3.9s;
  -moz-transition-delay: 0s, 3.9s;
  -o-transition-delay: 0s, 3.9s;
  transition-delay: 0s, 3.9s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(41) {
  -webkit-transition-delay: 0s, 4s;
  -moz-transition-delay: 0s, 4s;
  -o-transition-delay: 0s, 4s;
  transition-delay: 0s, 4s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(42) {
  -webkit-transition-delay: 0s, 4.1s;
  -moz-transition-delay: 0s, 4.1s;
  -o-transition-delay: 0s, 4.1s;
  transition-delay: 0s, 4.1s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(43) {
  -webkit-transition-delay: 0s, 4.2s;
  -moz-transition-delay: 0s, 4.2s;
  -o-transition-delay: 0s, 4.2s;
  transition-delay: 0s, 4.2s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(44) {
  -webkit-transition-delay: 0s, 4.3s;
  -moz-transition-delay: 0s, 4.3s;
  -o-transition-delay: 0s, 4.3s;
  transition-delay: 0s, 4.3s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(45) {
  -webkit-transition-delay: 0s, 4.4s;
  -moz-transition-delay: 0s, 4.4s;
  -o-transition-delay: 0s, 4.4s;
  transition-delay: 0s, 4.4s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(46) {
  -webkit-transition-delay: 0s, 4.5s;
  -moz-transition-delay: 0s, 4.5s;
  -o-transition-delay: 0s, 4.5s;
  transition-delay: 0s, 4.5s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(47) {
  -webkit-transition-delay: 0s, 4.6s;
  -moz-transition-delay: 0s, 4.6s;
  -o-transition-delay: 0s, 4.6s;
  transition-delay: 0s, 4.6s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(48) {
  -webkit-transition-delay: 0s, 4.7s;
  -moz-transition-delay: 0s, 4.7s;
  -o-transition-delay: 0s, 4.7s;
  transition-delay: 0s, 4.7s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(49) {
  -webkit-transition-delay: 0s, 4.8s;
  -moz-transition-delay: 0s, 4.8s;
  -o-transition-delay: 0s, 4.8s;
  transition-delay: 0s, 4.8s;
}
/* line 123, ../sass/_movielist.scss */
.movie:nth-child(50) {
  -webkit-transition-delay: 0s, 4.9s;
  -moz-transition-delay: 0s, 4.9s;
  -o-transition-delay: 0s, 4.9s;
  transition-delay: 0s, 4.9s;
}
/* line 128, ../sass/_movielist.scss */
.movie.loaded {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 136, ../sass/_movielist.scss */
.pagination {
  border-radius: 4px;
  display: block;
  margin: 40px 0;
  padding-left: 0;
  text-align: center;
}

/* line 143, ../sass/_movielist.scss */
.pagination ul li {
  display: inline-block;
}

/* line 146, ../sass/_movielist.scss */
.pagination li:first-child > a, .pagination li:first-child > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}

/* line 151, ../sass/_movielist.scss */
.pagination li:last-child > a, .pagination li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 155, ../sass/_movielist.scss */
.pagination li > a, .pagination li > span {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #999999;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(to bottom, #2a2a2a 0%, #1b1b1b 100%);
}

/* line 170, ../sass/_movielist.scss */
.pagination li > a:hover {
  opacity: 0.8;
}

/* line 174, ../sass/_movielist.scss */
.pagination ul li.active a, .pagination li > a:active {
  background-image: linear-gradient(to bottom, #121212 0%, #191919 100%);
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* line 2, ../sass/_moviedetails.scss */
sidebar {
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 125;
  -webkit-transform-style: preserve-3d;
  animation: sidebareffect .5s;
  -webkit-animation: sidebareffect .5s;
}
/* line 12, ../sass/_moviedetails.scss */
sidebar.hidden {
  animation: sidebareffect2 .5s;
  -webkit-animation: sidebareffect2 .5s;
  -webkit-transform: translate(100%, 0);
}
/* line 18, ../sass/_moviedetails.scss */
sidebar .closer {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  z-index: 300;
  cursor: pointer;
}
/* line 27, ../sass/_moviedetails.scss */
sidebar .closer:hover i {
  opacity: 1;
}
/* line 29, ../sass/_moviedetails.scss */
sidebar .closer i {
  color: #fff;
  position: absolute;
  left: 8px;
  top: 8px;
  opacity: 0.5;
  text-shadow: 0 0 5px #000;
}
/* line 38, ../sass/_moviedetails.scss */
sidebar .backdrop-image {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.2;
  height: 100%;
  background-size: cover;
  z-index: -1;
  -webkit-filter: grayscale(1);
  background-position: center;
}
/* line 52, ../sass/_moviedetails.scss */
sidebar .play {
  overflow-x: hidden;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  background: #000;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.2);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-size: cover;
}
/* line 11, ../sass/_utils.scss */
sidebar .play::-webkit-scrollbar {
  background: none;
  width: 9px;
}
/* line 15, ../sass/_utils.scss */
sidebar .play::-webkit-scrollbar-button {
  display: none;
}
/* line 18, ../sass/_utils.scss */
sidebar .play::-webkit-scrollbar-track {
  display: none;
}
/* line 21, ../sass/_utils.scss */
sidebar .play::-webkit-scrollbar-track-piece {
  display: none;
}
/* line 24, ../sass/_utils.scss */
sidebar .play::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  background-clip: content-box;
  border-radius: 10px;
  border: 2px solid transparent;
}
/* line 30, ../sass/_utils.scss */
sidebar .play::-webkit-scrollbar-corner {
  display: none;
}
/* line 33, ../sass/_utils.scss */
sidebar .play::-webkit-resizer {
  display: none;
}
/* line 38, ../sass/_utils.scss */
sidebar .play:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 44, ../sass/_utils.scss */
sidebar .play:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
  background-clip: content-box;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 65, ../sass/_moviedetails.scss */
sidebar .play:hover a.play-over {
  display: block;
}
/* line 69, ../sass/_moviedetails.scss */
sidebar .play a.play-over {
  position: absolute;
  top: 40%;
  padding: 10px 20px;
  border: 2px solid #FFF;
  text-transform: uppercase;
  left: 30%;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  display: none;
  z-index: 10;
}
/* line 84, ../sass/_moviedetails.scss */
sidebar .side-content {
  padding: 0;
  z-index: 500;
  float: left;
  width: 70%;
  position: relative;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}
/* line 92, ../sass/_moviedetails.scss */
sidebar .side-content > div {
  padding: 10%;
}
/* line 95, ../sass/_moviedetails.scss */
sidebar img.big-poster {
  background: #000;
  width: 80%;
  margin: 10% 10% 2% 10%;
  border: 1px solid #000;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
/* line 104, ../sass/_moviedetails.scss */
sidebar a.play-button {
  text-align: center;
  color: #FFF;
  font-weight: bold;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #cc181e;
}
/* line 117, ../sass/_moviedetails.scss */
sidebar a.play-button:hover {
  background: #eb282e;
}
/* line 120, ../sass/_moviedetails.scss */
sidebar .title {
  position: relative;
  padding: 0;
}
/* line 124, ../sass/_moviedetails.scss */
sidebar .title h2 {
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 5px;
}
/* line 130, ../sass/_moviedetails.scss */
sidebar .title span {
  color: #999;
  font-size: 18px;
}
/* line 134, ../sass/_moviedetails.scss */
sidebar .title span i {
  color: #a9a9a9;
  margin-right: 4px;
}
/* line 140, ../sass/_moviedetails.scss */
sidebar .title .duration {
  margin-left: 10px;
}
/* line 142, ../sass/_moviedetails.scss */
sidebar .title .health {
  font-size: 24px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 0;
}
/* line 153, ../sass/_moviedetails.scss */
sidebar .title .health.bad {
  color: red;
  border-color: red;
}
/* line 158, ../sass/_moviedetails.scss */
sidebar .title .health.medium {
  color: yellow;
  border-color: yellow;
}
/* line 163, ../sass/_moviedetails.scss */
sidebar .title .health.good {
  color: limegreen;
  border-color: limegreen;
}
/* line 168, ../sass/_moviedetails.scss */
sidebar .title .health.excellent {
  color: green;
  border-color: green;
}
/* line 175, ../sass/_moviedetails.scss */
sidebar .rating {
  display: inline-block;
  position: relative;
  font-size: 18px;
  margin: 0 10px 0 0;
}
/* line 181, ../sass/_moviedetails.scss */
sidebar .rating ul {
  color: #f1c40f;
}
/* line 184, ../sass/_moviedetails.scss */
sidebar p {
  margin-top: 10px;
  color: #999;
  font-size: 16px;
  line-height: 24px;
}

/* line 194, ../sass/_moviedetails.scss */
.sidebar-open li.movie {
  opacity: 0.25;
}
/* line 197, ../sass/_moviedetails.scss */
.sidebar-open li.movie.active {
  opacity: 1;
}
/* line 200, ../sass/_moviedetails.scss */
.sidebar-open li.movie.active a {
  box-shadow: 0 0 0 3px #3498db;
  border-radius: 3px;
}
/* line 204, ../sass/_moviedetails.scss */
.sidebar-open li.movie.active a i {
  opacity: 0 !important;
}

/* line 211, ../sass/_moviedetails.scss */
.poster-cont {
  position: relative;
  width: 30%;
  float: left;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
/* line 217, ../sass/_moviedetails.scss */
.poster-cont:hover .movie-config {
  bottom: 2px;
}

/* line 220, ../sass/_moviedetails.scss */
.subtitles button {
  background: transparent;
  border: 0;
  padding: 0;
}

/* line 226, ../sass/_moviedetails.scss */
.movie-config {
  width: 80%;
  color: #FFF;
  padding: 0 10%;
}
/* line 230, ../sass/_moviedetails.scss */
.movie-config h4 {
  font-weight: bold;
  margin: 12px 0;
}
/* line 238, ../sass/_moviedetails.scss */
.movie-config li.options {
  position: relative;
}
/* line 242, ../sass/_moviedetails.scss */
.movie-config li.options span.extra-data {
  font-weight: bold;
  color: #FFF;
  float: right;
  font-size: 15px;
}
/* line 249, ../sass/_moviedetails.scss */
.movie-config li.options span.good {
  color: #27ae60;
}
/* line 250, ../sass/_moviedetails.scss */
.movie-config li.options span.bad {
  color: #c0392b;
}
/* line 251, ../sass/_moviedetails.scss */
.movie-config li.options span.epic {
  color: #8e44ad;
}
/* line 255, ../sass/_moviedetails.scss */
.movie-config li.options span.available-subtitles > .flag {
  margin-left: 5px;
}
/* line 259, ../sass/_moviedetails.scss */
.movie-config input {
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0;
}
/* line 265, ../sass/_moviedetails.scss */
.movie-config input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 271, ../sass/_moviedetails.scss */
.movie-config .switch {
  background: transparent;
  border-radius: 32px;
  display: block;
  height: 12px;
  position: absolute;
  width: 25px;
  border: 2px solid #FFF;
  left: 40px;
  top: 28px;
  cursor: pointer;
}
/* line 283, ../sass/_moviedetails.scss */
.movie-config .switch label {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  width: 20px;
  cursor: pointer;
}
/* line 292, ../sass/_moviedetails.scss */
.movie-config .switch label:nth-of-type(1) {
  left: -38px;
  position: absolute;
  text-align: right;
}
/* line 298, ../sass/_moviedetails.scss */
.movie-config .switch label:nth-of-type(2) {
  position: absolute;
  right: -30px;
  text-align: left;
}
/* line 305, ../sass/_moviedetails.scss */
.movie-config .switch input {
  height: 64px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 60px;
  z-index: 2;
  cursor: pointer;
}
/* line 315, ../sass/_moviedetails.scss */
.movie-config .switch input:checked {
  z-index: 0;
}
/* line 319, ../sass/_moviedetails.scss */
.movie-config .switch input:checked ~ label:nth-of-type(1) {
  color: #0cff00;
}
/* line 320, ../sass/_moviedetails.scss */
.movie-config .switch input:checked ~ label:nth-of-type(2) {
  color: #FFF;
}
/* line 323, ../sass/_moviedetails.scss */
.movie-config .switch input:checked ~ .toggle {
  left: 2px;
}
/* line 327, ../sass/_moviedetails.scss */
.movie-config .switch input ~ :checked ~ label:nth-of-type(1) {
  color: #FFF;
}
/* line 328, ../sass/_moviedetails.scss */
.movie-config .switch input ~ :checked ~ label:nth-of-type(2) {
  color: #0cff00;
}
/* line 331, ../sass/_moviedetails.scss */
.movie-config .switch input ~ :checked ~ .toggle {
  left: 13px;
}
/* line 335, ../sass/_moviedetails.scss */
.movie-config .toggle {
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
  background: #0cff00;
  border-radius: 50%;
  height: 10px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 10px;
  z-index: 1;
}

/* line 349, ../sass/_moviedetails.scss */
.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 30px;
  float: right;
  margin-right: 20px;
  margin-top: -8px;
}
/* line 359, ../sass/_moviedetails.scss */
.dropdown.active .dropdown-text {
  background-color: white;
  z-index: 2;
  border-radius: 3px 3px 0 0;
}
/* line 365, ../sass/_moviedetails.scss */
.dropdown.active .dropdown-content {
  opacity: 1;
  visibility: visible;
}

/* line 372, ../sass/_moviedetails.scss */
.dropdown-text {
  cursor: pointer;
  position: absolute;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #333;
  text-shadow: 0 1px #fff;
}
/* line 381, ../sass/_moviedetails.scss */
.dropdown-text:after {
  position: absolute;
  right: -10px;
  top: 15px;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #FFF transparent transparent transparent;
}

/* line 394, ../sass/_moviedetails.scss */
.dropdown-toggle {
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 37px;
  width: 60px;
}
/* line 408, ../sass/_moviedetails.scss */
.dropdown-toggle:focus {
  outline: 0;
}

/* line 411, ../sass/_moviedetails.scss */
.dropdown-content {
  list-style-type: none;
  position: absolute;
  top: 34px;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 0 0 3px 3px;
  background-color: white;
  width: 40px;
  text-align: center;
}
/* line 424, ../sass/_moviedetails.scss */
.dropdown-content a {
  display: block;
  padding: 4px;
  color: #333;
  text-shadow: 0 1px #fff;
}
/* line 430, ../sass/_moviedetails.scss */
.dropdown-content a:hover {
  background: #E1E1E1;
}

/* line 2, ../sass/_player.scss */
#video-container {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
  -webkit-app-region: no-drag;
}

/* line 16, ../sass/_player.scss */
#video_player_close {
  position: absolute;
  z-index: 9999;
  top: 15px;
  left: 15px;
  -webkit-app-region: no-drag;
}

/* line 24, ../sass/_player.scss */
.vjs-default-skin .vjs_smallersub_button.vjs-control {
  float: right;
  line-height: 1.6em;
  font-size: 0.8em;
  top: 5px;
}

/* line 31, ../sass/_player.scss */
.vjs-default-skin .vjs_biggersub_button.vjs-control {
  float: right;
  line-height: 1.6em;
  font-size: 0.7em;
  top: 6px;
}

/* line 38, ../sass/_player.scss */
.vjs-default-skin .vjs_biggersub_button.vjs-control:before {
  font-family: FontAwesome;
  content: "\f031";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #666;
  font-size: 2em;
  vertical-align: inherit;
}

/* line 49, ../sass/_player.scss */
.vjs-default-skin .vjs_smallersub_button.vjs-control:before {
  font-family: FontAwesome;
  content: "\f031";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #666;
  font-size: 1.3em;
  line-height: 2.4em;
}

/* line 62, ../sass/_player.scss */
#video_player.vjs-user-inactive + #video_player_close {
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  opacity: 0.0;
  pointer-events: none;
}

/* line 68, ../sass/_player.scss */
#video_player.vjs-user-active + #video_player_close {
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 1.0;
  pointer-events: all;
}

/* line 74, ../sass/_player.scss */
#video_player.vjs-user-inactive video {
  cursor: none;
}

/* line 79, ../sass/_player.scss */
#video_player.video-js {
  font-size: inherit;
}
/* line 82, ../sass/_player.scss */
#video_player.video-js .vjs-text-track {
  font-size: 1em;
  line-height: 140%;
  opacity: 0.90;
  margin-bottom: 1em;
  text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
}
/* line 92, ../sass/_player.scss */
#video_player.video-js .vjs-menu-item.vjs-selected {
  font-weight: bold;
  color: #cc181e;
}
/* line 97, ../sass/_player.scss */
#video_player.video-js .vjs-text-track-display {
  font-size: 1em;
}
/* line 98, ../sass/_player.scss */
#video_player.video-js .vjs-loading-spinner {
  font-size: 1em;
}
/* line 99, ../sass/_player.scss */
#video_player.video-js .vjs-big-play-button {
  font-size: 1em;
}
/* line 100, ../sass/_player.scss */
#video_player.video-js .vjs-control-bar {
  font-size: 10px;
}
/* line 101, ../sass/_player.scss */
#video_player.video-js .vjs-menu-item {
  color: #000;
}

/* line 2, ../sass/_probablyuseless.scss */
.torrent-health {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-transform: capitalize;
}
/* line 11, ../sass/_probablyuseless.scss */
.torrent-health.bad {
  background: red;
}
/* line 12, ../sass/_probablyuseless.scss */
.torrent-health.medium {
  background: yellow;
}
/* line 13, ../sass/_probablyuseless.scss */
.torrent-health.good {
  background: limegreen;
}
/* line 14, ../sass/_probablyuseless.scss */
.torrent-health.excellent {
  background: green;
}

/* line 17, ../sass/_probablyuseless.scss */
.content {
  float: left;
  margin-left: 30px;
  text-shadow: 0 -1px 0 #000;
  width: 660px;
}
/* line 23, ../sass/_probablyuseless.scss */
.content h2 {
  font-size: 32px;
  margin: 0;
  font-weight: bold;
}
/* line 30, ../sass/_probablyuseless.scss */
.content p.metadata {
  color: #196cb2;
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0;
}
/* line 37, ../sass/_probablyuseless.scss */
.content p.description {
  color: #777;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

/*
-- Don't find any of this properties anywhere in the popcorn-app */
/* line 51, ../sass/_probablyuseless.scss */
.tabs {
  border-bottom: 1px solid #272727;
}
/* line 54, ../sass/_probablyuseless.scss */
.tabs li {
  bottom: -1px;
  color: #333;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}
/* line 61, ../sass/_probablyuseless.scss */
.tabs li:hover {
  color: #FFF;
}
/* line 63, ../sass/_probablyuseless.scss */
.tabs li.active {
  border-bottom: 3px solid #FFF;
  color: #FFF;
  display: inline-block;
  font-weight: 700;
}

/* line 72, ../sass/_probablyuseless.scss */
.tab-content {
  margin: 20px 0;
}

/* line 74, ../sass/_probablyuseless.scss */
.cast ul li {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  position: relative;
}
/* line 80, ../sass/_probablyuseless.scss */
.cast ul li:hover {
  background: #222;
}
/* line 82, ../sass/_probablyuseless.scss */
.cast ul li span {
  color: #444;
  font-weight: 400;
  position: absolute;
  right: 10px;
}
