// Page loaded on the left
sidebar {
  right: 0;
  position: absolute;
  height: 100%;
  width:100%;
  z-index: 125;
  -webkit-transform-style: preserve-3d;
  animation: sidebareffect .5s;
  -webkit-animation: sidebareffect .5s;
  -webkit-transform: translateZ(0);

  &.hidden {
  	right: -10px;
    animation: sidebareffect2 .5s;
    -webkit-animation: sidebareffect2 .5s;
    -webkit-transform: translate(100%, 0);
  }

  // To close sidebar - .movie-detail
  .closer {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    z-index: 300;
    cursor: pointer;

    &:hover i { opacity: 1; }

    i {
      color: #fff;
      position: absolute;
      left: 8px;
      top: 8px;
      opacity: 0.5;
      text-shadow: 0 0 5px #000;
    }
  }
}

sidebar {
  .play {
    @include scrollable();
    background: #000;
    box-shadow:-3px 0 3px rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-size: cover;
    position: relative;

    &:hover {
      a.play-over { display:block; }
    }

    .backdrop-image {
      @include opacity(0);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:100%;
      background-size: cover;
      z-index: -1;
      // Blur is unbearably slow
      // -webkit-filter: /* grayscale(1) */ blur(10px);
      background-position: center;
    }

    .loaded {
        -webkit-animation: backdropFadeIn .5s ease-in forwards;
    }

    // Don't know if it's used
    a.play-over {
      position: absolute;
      top: 40%;
      padding: 10px 20px;
      border: 2px solid #FFF;
      text-transform: uppercase;
      left: 30%;
      color: #FFF;
      font-weight: bold;
      text-decoration: none;
      display: none;
      z-index: 10;
    }

  .poster {
    display: block;

    // This is a hack to keep the poster holder in the same ratio as the poster (1,4973)
    // By using padding-bottom with a fixed width we can create a container that always keeps that ratio.
    width: 100%;
    padding-bottom: 100% * 1.5;

    overflow: hidden;
    border-radius: 4px;
    background: #000;
    border:1px solid #000;
    box-shadow: 0 2px 3px rgba(0,0,0,0.4);
    background: url(../images/posterholder.png) no-repeat 50% 50%;
    background-size: cover;
    -webkit-transform: translateZ(0);

    img.big-poster {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }

  a.play-button {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    margin-top: 20px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    background:#cc181e;
    &:hover { background: #eb282e; }
  }

    .movie-detail {
      height: 100%;
      display: table;

      .poster-cont,
      .side-content {
        display: table-cell;
        vertical-align: middle;
      }

      // Display big poster and quality option
      .poster-cont {
        position: relative;
        width: 40%;
        height: 100%;
        padding-left: 6%;
        padding-right: 2%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        &:hover .movie-config { bottom: 2px; }
        .poster-inner { position: relative; }

        img.big-poster {
          background: #000;
          width: 100%;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
          border-radius: 4px;
          vertical-align: bottom;
        }

        .movie-config {
          h4 {
            font-weight: bold;
            font-size: 14px;
            margin-left: 10px;
            margin-top: 8px;
          }

          .quality-cont {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 50px;
            width: 100%;
            margin-left:1px;
            text-shadow: 0 0 2px #000;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
            -webkit-transform: translateZ(0);

            .quality-off {
              margin-left: 10px;
              font-size: 12px;
            }
          }

          li.options {
            // Useless ?
            span.extra-data {
              font-weight: bold;
              color: #FFF;
              float: right;
              font-size: 15px;
            }

            span.good { color: #27ae60; }
            span.bad { color: #c0392b; }
            span.epic { color: #8e44ad; }
          }

          input {
            font-family: inherit;
            font-size: 100%;
            line-height: normal;
            margin: 0;

            &[type="radio"] {
              box-sizing: border-box;
              padding: 0;
            }
          }

          .switch {
            background: transparent;
            border-radius: 32px;
            display: block;
            height: 12px;
            position: absolute;
            width: 25px;
            border: 2px solid #FFF;
            left: 48px;
            top: 28px;
            cursor: pointer;

            label {
              @include transition(color .2s ease);
              color: #fff;
              font-size: 12px;
              font-weight: bold;
              text-transform: uppercase;
              width: 20px;
              cursor: pointer;

              &:nth-of-type(1) {
                left: -38px;
                position: absolute;
                text-align: right;
              }

              &:nth-of-type(2) {
                position: absolute;
                right: -30px;
                text-align: left;
              }
            }

            input {
              height: 12px;
              left: 0;
              opacity: 0;
              position: absolute;
              top: 0;
              width: 60px;
              z-index: 2;
              cursor: pointer;

              &:checked {
                z-index: 0;

                ~ label {
                  &:nth-of-type(1) { color: $popcorn-blue; }
                  &:nth-of-type(2) { color: #FFF; }
                }

                ~ .toggle { left: 2px; }
              }

              ~ :checked ~ label {
                &:nth-of-type(1) { color: #FFF; }
                &:nth-of-type(2) { color: $popcorn-blue; }
              }

              ~ :checked ~ .toggle { left: 13px; }
            }
          }

          .toggle {
            @include transition(left .2s ease);
            background: $popcorn-blue;
            border-radius: 50%;
            height: 10px;
            left: 0;
            position: absolute;
            top: 1px;
            width: 10px;
            z-index: 1;
          }
        }
      }

      // Display detail of movie
      .side-content {
        z-index: 500;
        width: 60%;
        position: relative;
        padding-left: 2%;
        padding-right: 6%;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        .title {
          position: relative;
          padding: 0;

          h2 {
            font-weight: 200;
            font-size: 34px;
            margin-bottom: 10px;
            color: #f5f7fa;
            padding-right: 30px;
          }

          .movie-quick-info {
            margin-bottom: 5px;

            li {
              display: inline-block;
              vertical-align: top;
              font-size: 12px;
              color: $popcorn-blue;
              font-weight: bold;

              &::after {
                content: '\b7\a0';
                margin-left: 2px;
              }

              &:last-child::after { display: none; }
            }
          }

          .health {
            font-size: 24px;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            position: absolute;
            top: 10px;
            right: 0;

            &.bad {
              color: red;
              border-color: red;
            }

            &.medium {
              color: yellow;
              border-color: yellow;
            }

            &.good {
              color: limegreen;
              border-color: limegreen;
            }

            &.excellent {
              color: green;
              border-color: green;
            }
          }
        }

        .rating {
          display: inline-block;
          position: relative;
          font-size: 14px;
          margin: 0 10px 0 0;

          ul { color: #f5f7fa; }
        }

        p {
          margin-top: 10px;
          color: #babdc2;
          font-size: 14px;
          line-height: 24px;
        }

        .subtitles-list {
          margin-top: 10px;
          margin-bottom: 10px;

          h4 {
            font-size: 12px;
            color: #f5f7fa;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }

          ul {
            display: inline-block;
            vertical-align: middle;

            li {
              display: inline-block;
              vertical-align: top;

              span {
                width: 22px;
                height: 16px;
                display: inline-block;
              }

              .flag {
                &.flag-english { background-image: url(../images/english.png); }
                &.flag-french { background-image: url(../images/french.png); }
                &.flag-dutch { background-image: url(../images/dutch.png); }
                &.flag-portuguese { background-image: url(../images/portuguese.png); }
                &.flag-romanian { background-image: url(../images/romanian.png); }
                &.flag-spanish { background-image: url(../images/spanish.png); }
                &.flag-turkish { background-image: url(../images/turkish.png); }
                &.flag-brazilian { background-image: url(../images/brazilian.png); }
                &.flag-italian { background-image: url(../images/italian.png); }
                &.flag-hungarian { background-image: url(../images/hungarian.png); }
                &.flag-bulgarian { background-image: url(../images/bulgarian.png); }
                &.flag-finnish { background-image: url(../images/finnish.png); }
                &.flag-russian { background-image: url(../images/russian.png); }
              }
            }
          }
        }

        a.play-button {
          background: $popcorn-blue;
          background-image: linear-gradient(to bottom, #3076ce 0%, #175ab0 100%);
          color: #FFF;
          font-weight: bold;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
          padding: 14px 26px;
          border-radius: 2px;
          display: inline-block;
          margin-top: 10px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

          &:hover { background-image: linear-gradient(to bottom, #4387de 0%, #175ab0 100%); }

          &[disabled] {
            background-image: linear-gradient(to bottom, #ccc 0%, #777 100%);
          }
        }
      }
    }
  }
}

// Applied to the body when the sidebar is open
.sidebar-open {
  li.movie {
    opacity: 0.25;

    &.active {
      opacity: 1;

      a {
        box-shadow: 0 0 0 3px #3498db;
        border-radius: 3px;

        i { opacity: 0 !important; }
      }
    }
  }
}

.subtitles button {
  background: transparent;
  border: 0;
  padding: 0;
}

// Dropdown (will probably be deprecated)
.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 30px;
  float: right;
  margin-right: 20px;
  margin-top: -8px;

  &.active {
    .dropdown-text {
      background-color: white;
      z-index: 2;
      border-radius: 3px 3px 0 0;
    }

    .dropdown-content {
      opacity: 1;
      visibility: visible;
    }
  }
}

.dropdown-text {
  cursor: pointer;
  position: absolute;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #333;
  text-shadow: 0 1px #fff;

  &:after {
    position: absolute;
    right: -10px;
    top: 15px;
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    border-color: #FFF transparent transparent transparent;
  }
}

.dropdown-toggle {
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 37px;
  width: 60px;

  &:focus { outline: 0; }
}

.dropdown-content {
  list-style-type: none;
  position: absolute;
  top: 34px;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 0 0 3px 3px;
  background-color: white;
  width: 40px;
  text-align: center;

  a {
    display: block;
    padding: 4px;
    color: #333;
    text-shadow: 0 1px #fff;

    &:hover { background:#E1E1E1; }
  }
}
