// Video container
#video-container {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
  // This fixes an issue: The header has app-region:drag, 
  // which causes some weird issues with clicks of elements which are right on top of the header... like the video-container.  
  // There's a JS workaround so you can drag the window by the video, since app-region:drag fucks up the mouse events.
  -webkit-app-region: no-drag;
}

#video_player_close {
  position: absolute;
  z-index: 9999;
  top: 15px;
  left: 15px;
  -webkit-app-region: no-drag;
}

.vjs-default-skin .vjs_smallersub_button.vjs-control {
  float: right;
  line-height: 1.6em;
  font-size: 0.8em;
  top: 5px;
}

.vjs-default-skin .vjs_biggersub_button.vjs-control {
  float: right;
  line-height: 1.6em;
  font-size: 0.7em;
  top: 6px;
}

.vjs-default-skin .vjs_biggersub_button.vjs-control:before {
  font-family: FontAwesome;
  content: "\f031";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #666;
  font-size: 2em;
  vertical-align: inherit;
}

.vjs-default-skin .vjs_smallersub_button.vjs-control:before {
  font-family: FontAwesome;
  content: "\f031";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #666;
  font-size: 1.3em;
  line-height: 2.4em;
}

// Shows the close button when the video controls are active
// VideoJS has a delay before putting the user-active/inactive class, so you can't close the video during that time if it's hidden by default
#video_player.vjs-user-inactive + #video_player_close {
  @include transition(opacity 0.8s ease);
  opacity: 0.0;
  pointer-events: none;
}

#video_player.vjs-user-active + #video_player_close {
  @include transition(opacity 0.2s ease-out);
  opacity: 1.0;
  pointer-events: all;
}

#video_player.vjs-user-inactive video {
  cursor: none;
}

// The font size for the subtitles is applied to #video-container, so we have to change a few styles for it to propagate properly.
#video_player.video-js {
  font-size: inherit;

  .vjs-text-track {
    font-size: 1em;
    line-height: 140%;
    opacity: 0.90;
    margin-bottom: 1em;

    $subtitle-outline: 0 0 0.2em black;
    text-shadow: $subtitle-outline, $subtitle-outline, $subtitle-outline, $subtitle-outline, $subtitle-outline, $subtitle-outline, $subtitle-outline, $subtitle-outline, $subtitle-outline, $subtitle-outline;
  }

  .vjs-menu-item.vjs-selected {
    font-weight: bold;
    color: $popcorn-blue;
  }

  .vjs-text-track-display { 
    font-size: 1em; 
    pointer-events: none;
  }
  .vjs-loading-spinner { font-size: 1em; }
  .vjs-big-play-button { font-size: 1em; }
  .vjs-control-bar { font-size: 10px; }
  .vjs-menu-item { color: #000; }
  .vjs-seek-handle { display: none; }
}


// Hide other UI elements while watching the movie
body.watching {
  #header, #notification, #catalog-select, .container {
    visibility: hidden;
  }
}