#settings {
  background-color: #181817;
  form {
    margin: 10px 50px 0 50px;

    h1 {
      font-weight: 200;
      font-size: 34px;
      color: #f5f7fa;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 20px;
      color: #286dc4;
      margin-bottom: 15px;
    }

    .folder-input {
      margin-top: 10px;
    }

    #settings-cacheLocation-input {
        display: none;
    }

    #settings-cacheLocation-value {
        display: inline-block;
        min-width: 200px;
        background-color: #282828;
        border-radius: 2px;
        padding: 3px;
    }

    .option {
      margin: 10px 0 10px 20px;
    }
  }
}