// Gives nicer scrollbars to an element
@mixin scrollable() {

  overflow-x: hidden;
  // Overflow: overlay is an undocumented webkit feature. It places the scrollbar *on top* of the content instead of eating some 16px.
  // It's buggy as shit, though (it paints the scrollbar *over* the content and composites badly, so it will crop the content anyway )
  overflow-y: overlay;
  // Inertial scrolling for touch devices (mostly useless here)
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    background: none;
    width: 9px;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-track-piece {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.0);
    background-clip: content-box;
    border-radius: 10px;
    border: 2px solid transparent;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
  &::-webkit-resizer {
    display: none;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: transparentize(#000000, 0.5);
      background-clip: content-box;
      border-radius: 10px;
      border: 1px solid rgba(255,255,255,0.15);

      &:hover {
        background: transparentize(#000000, 0.4);
        background-clip: content-box;
        border-radius: 10px;
        border: 1px solid rgba(255,255,255,0.2);
      }
    }
  }
}

.medium-button {
  background: #286dc4;
  background-image: linear-gradient(to bottom, #3076ce 0%, #175ab0 100%);
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  padding: 14px 26px;
  border-radius: 2px;
  display: inline-block;
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  &:hover {
    background-image: linear-gradient(to bottom, #4387de 0%, #175ab0 100%);
  }

  &[disabled] {
    background-image: linear-gradient(to bottom, #ccc 0%, #777 100%);
  }
}

.small-button {
  background: #286dc4;
  background-image: linear-gradient(to bottom, #3076ce 0%, #175ab0 100%);
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  padding: 4px 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  &:hover {
    background-image: linear-gradient(to bottom, #4387de 0%, #175ab0 100%);
  }

  &[disabled] {
    background-image: linear-gradient(to bottom, #ccc 0%, #777 100%);
  }
}