// Dark Theme
$body-bg: #181817;
$app-width: 100%;
$borders-color: #141414;
$text-color: #FFF;

// White Theme
/*
$body-bg: #FFF;
$app-width: 100%;
$borders-color: #e5eced;
$text-color: #000;
*/

// Commons elements
$header_height: 45px;
$notification_height: 45px;
