// OFFICIAL POPCORN-THEME: BLACK AND YELLOW

//Color variables: black & yellow
    Black = #070707
    YellowL = #f3cc16
    YellowM = #ffe035
    YellowD = #ffcc00

//Fonts
    Font = 'Open Sans'
    MainFont = 'Open Sans Semibold'
    MainFontBold = 'Open Sans Bold'
    AlternateFont = sans-serif
    ButtonFont = 'Open Sans Semibold'
    
//Main app
    BgColor1 = Black
    BgColor2 = lighten(Black,5%)

    TextColor1 = #fff 
    TextColor2 = #C9C9C9
    TextColor3 = #939597
    TextColor4 = #fff
    ErrorText = #797979

    CloseButton = #fff
    CloseButtonHover = YellowL

    LoadingColor1 = #e3bd0c
    LoadingColor2 = #FFCC00
    
    ScrollBarBg = #30333c
    ScrollBarIndicator = #e3bd0c
    ScrollBarIndicatorHover = YellowD
    
//Top Bar
    TitleBarColor = Black  
    TitleBarText = #fff
    FullScreenBtn = #999
    FullScreenBtnHover = YellowL

    NavBarColor = Black  
    NavBarText = #e9e9e9
    NavBarTextHover = #fff
    NavBarActive = YellowL

    SearchBox = #191818

    DropDownColor = rgba(Black,0.9)
    DropDownColor2 = rgba(YellowL,0.15)
    DropDownText = #fff
    DropDownText2 = #d9d9d9

    IconColor = TextColor1
    IconColorHover = YellowD
    
    TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, .9);
    
//Buttons
    Button = YellowL
    ButtonHover = YellowM
    ButtonActive = YellowD
    
    ButtonInactive = #737577
    ButtonInactiveHover = ButtonInactive
    
    TextButton = #000
    TextButtonHover = #000
    
    ButtonRadius = 3px

//Posters
    PosterRadius = 4px
    PosterBorder = ButtonActive
    PosterOverlay = rgba(23, 24, 27, 0.6)
    PosterShadow = 0px 0px 10px //TODO: use none for flat
    
//TV Series
    ShowBgColor1 = BgColor1
    ShowBgColor2 = BgColor1
    
    ShowTextColor1 = TextColor1
    ShowTextColor2 = TextColor2
    
    ShowSelector = darken(#e3bd0c,2%)
    ShowSelectorText = TextColor1

//Settings
    SettingsCategories = YellowD
    SettingsSeparator = #333
    
    InputBox = #232324
    InputBoxText = TextColor2
    
    SettingsTextColor1 = TextColor2
    SettingsTextColor2 = TextColor4

//Misc
    FavoritesColor = #df2d37
    
    PngLogo = brightness(1)