// OFFICIAL POPCORN-THEME: DARK

//Fonts
    Font = 'Open Sans'
    MainFont = 'Open Sans Semibold'
    MainFontBold = 'Open Sans Bold'
    AlternateFont = sans-serif    
    ButtonFont = 'Open Sans Semibold'

//Main app
    BgColor1 = #17181b
    BgColor2 = #212225

    TextColor1 = #fff
    TextColor2 = #c3c5c7
    TextColor3 = #a3a5a7
    TextColor4 = #5b5b5b
    ErrorText = #727272

    CloseButton = #a3a5a7
    CloseButtonHover = #fff

    LoadingColor1 = #2187e7
    LoadingColor2 = rgba(0,183,229,0.9)

    ScrollBarBg = #30333c
    ScrollBarIndicator = #83888c
    ScrollBarIndicatorHover = #93989c

//Top Bar
    TitleBarColor = #17181b
    TitleBarText = #fff
    FullScreenBtn = #000
    FullScreenBtnHover = #b2b2b2

    NavBarColor = #17181b
    NavBarText = #c3c5c7
    NavBarTextHover = #fff
    NavBarActive = #2468cc

    SearchBox = #393b3d

    DropDownColor = #17181b
    DropDownColor2 = #0b131f
    DropDownText = #fff
    DropDownText2 = #c3c5c7

    IconColor = #c3c5c7
    IconColorHover = #2468cc

    TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, .9);

//Button    
    Button = #1f375f
    ButtonHover = #225694
    ButtonActive = #2468cc

    ButtonInactive = #737577
    ButtonInactiveHover = #223547

    TextButton = #fff
    TextButtonHover = #fff

    ButtonRadius = 3px

//Posters
    PosterRadius = 4px
    PosterBorder = #2468cc
    PosterOverlay = rgba(23, 24, 27, 0.6)
    PosterShadow = 0px 0px 10px

//TV Series
    ShowBgColor1 = #17181b
    ShowBgColor2 = #212225

    ShowTextColor1 = #fff
    ShowTextColor2 = #a3a5a7

    ShowSelector = #1b2d4c
    ShowSelectorText = #fff

//Settings
    SettingsCategories = #2468cc
    SettingsSeparator = #444

    InputBox = #393b3d
    InputBoxText = #c3c5c7

    SettingsTextColor1 = #c3c5c7
    SettingsTextColor2 = #5b5b5b

    SettingsSeparator = #444
    InputBox = #393b3d

//Misc
    PngLogo = brightness(1)

    FavoritesColor = #df2d37