// OFFICIAL POPCORN-THEME: DARK
Font = 'Open Sans'
MainFont = 'Open Sans Semibold'
MainFontBold = 'Open Sans Bold'
AlternateFont = sans-serif

BgColor1 = #17181b
BgColor2 = #212225

TitleBarColor = #17181b
TitleBarText = #fff

NavBarColor = #17181b
NavBarText = #c3c5c7
NavBarTextHover = #fff

DropDownColor = #17181b
DropDownColor2 = #212225
DropDownText = #fff
DropDownText2 = #c3c5c7

TextColor1 = #fff
TextColor2 = #c3c5c7
TextColor3 = #a3a5a7
TextColor4 = #5b5b5b

Button = #1f375f
ButtonHover = #225694
ButtonActive = #2468cc
ButtonInactive = #737577
ButtonInactiveHover = #223547
TextButton = #fff

FavoritesColor = #df2d37

LoadingColor1 = #2187e7
LoadingColor2 = rgba(0,183,229,0.9)

ScrollBarBg = #30333c
ScrollBarIndicator = #83888c
ScrollBarIndicatorHover = #93989c

InputBox = #393b3d

ErrorText = #727272

CloseButton = #a3a5a7
CloseButtonHover = #fff

PngLogo = brightness(1)