// OFFICIAL POPCORN-THEME: FLAT

//Color variables: flatcolors
    Grey = #444
    Green = #1abc9c
    Red = #ed5548
    Blue = #3498db
    Yellow = #ecc132

//Fonts
    Font = 'Open Sans'
    MainFont = 'Open Sans Semibold'
    MainFontBold = 'Open Sans Bold'
    AlternateFont = sans-serif    
    ButtonFont = 'Open Sans Semibold'

//Main app
    BgColor1 = Grey
    BgColor2 = #383838

    TextColor1 = #fefefe
    TextColor2 = #d9d9d9
    TextColor3 = #ddd
    TextColor4 = #999
    ErrorText = #727272

    CloseButton = #fefefe
    CloseButtonHover = Red
    
    LoadingColor1 = rgba(Yellow,0.9)
    LoadingColor2 = rgba(Green,0.9)

    ScrollBarBg = #333
    ScrollBarIndicator = #bbb
    ScrollBarIndicatorHover = #ddd

//Top Bar
    TitleBarColor = BgColor1
    TitleBarText = #fff
    FullScreenBtn = #ddd
    FullScreenBtnHover = Red

    NavBarColor = BgColor1
    NavBarText = #ddd
    NavBarTextHover = #fff
    NavBarActive = Green

    SearchBox = #2b2b2b

    DropDownColor = BgColor1
    DropDownColor2 = rgba(Blue,0.5)
    DropDownText = #fff
    DropDownText2 = #ddd
    DropDownOpacity = 1.00

    IconColor = #ddd
    IconColorHover = Green
    
    TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, .9); //TODO: use none for flat

//Buttons
    Button = Green
    ButtonHover = Red
    ButtonActive = Green //TODO: find a better color
    
    ButtonInactive = #1a1a1a
    ButtonInactiveHover = ButtonInactive
    
    TextButton = #fefefe
    TextButtonHover = TextButton
    
    ButtonRadius = 3px

//Posters
    PosterRadius = 4px
    PosterBorder = ButtonActive
    PosterOverlay = rgba(23, 24, 27, 0.6)
    PosterShadow = 0px 0px 10px //TODO: use none for flat

//TV Series
    ShowBgColor1 = BgColor1
    ShowBgColor2 = BgColor2

    EpisodeDetails = BgColor1
    
    ShowTextColor1 = TextColor1
    ShowTextColor2 = #C3C3C3

    SeasonListColor = TextColor1
    EpisodeListColor = #C3C3C3
    
    ShowSelector = rgba(Blue,0.5)
    ShowSelectorText = TextColor1

//Settings
    SettingsCategories = Green
    SettingsSeparator = #999

    InputBox = #2b2b2b
    InputBoxText = TextColor2
    
    SettingsTextColor1 = TextColor2
    SettingsTextColor2 = TextColor4

    SettingsTextButton = TextButton
    SettingsTextButtonHover = TextButton

//Misc
    FavoritesColor = Red

    PngLogo = brightness(1.00)