// OFFICIAL POPCORN-THEME: LIGHT
Font = 'Open Sans'
MainFont = 'Open Sans Semibold'
MainFontBold = 'Open Sans Bold'
AlternateFont = sans-serif

BgColor1 = #fafcf2
BgColor2 = #ededed

TitleBarColor = #f8f8f8
TitleBarText = #000

NavBarColor = #f8f8f8
NavBarText = #515151
NavBarTextHover = #1d1d1d
SearchBox = #ececec

DropDownColor = #fafcf2
DropDownColor2 = #ededed
DropDownText = #1d1d1d
DropDownText2 = #373737

TextColor1 = #1d1d1d
TextColor2 = #373737
TextColor3 = #515151
TextColor4 = #6b6b6b

Button = #00a300
ButtonHover = #00b700
ButtonActive = #008f00
ButtonInactive = #003500
ButtonInactiveHover = #344334
TextButton = #fafcf2

FavoritesColor = #ee1111

ShowSelector = #008f00

LoadingColor1 = #00a300
LoadingColor2 = rgba(70,186,78,0.9)

ScrollBarBg = #d1d1d1
ScrollBarIndicator =  #008f00
ScrollBarIndicatorHover = #008f00

InputBox = #e3e3e3

ErrorText = #3d3d3d

CloseButton = #b8b8b8
CloseButtonHover = #008f00

PngLogo = brightness(0.30)