// OFFICIAL POPCORN-THEME: LIGHT
BgColor1 = #fafafa
BgColor2 = #dadada

TextColor1 = #000
TextColor2 = #444
TextColor3 = #555
TextColor4 = #777

Font = 'Open Sans'
MainFont = 'Open Sans Semibold'
MainFontBold = 'Open Sans Bold'
AlternateFont = sans-serif

Button = #008100
ButtonHover = #00b400
ButtonActive = #009a00
ButtonInactive = #aaa
ButtonInactiveHover = #003500
TextButton = #fff

FavoritesColor = #df2d37

LoadingColor1 = #008100
LoadingColor2 = rgba(70,186,78,0.9)

ScrollBarBg = #b5b7b9
ScrollBarIndicator =  #30333c
ScrollBarIndicatorHover = #244626

InputBox = #dfdfdf

ErrorText = #666

CloseButton = #a3a5a7
CloseButtonHover = #008100