// OFFICIAL POPCORN-THEME: LIGHT

//Color variables: light colors
    White = #fafcf2
    Grey = #ededed
    GreenL = #00a300
    GreenD = #008f00
    Black = #1d1d1d

//Fonts
    Font = 'Open Sans'
    MainFont = 'Open Sans Semibold'
    MainFontBold = 'Open Sans Bold'
    AlternateFont = sans-serif    
    ButtonFont = 'Open Sans Semibold'

//Main app
    BgColor1 = White
    BgColor2 = Grey

    TextColor1 = Black
    TextColor2 = #373737
    TextColor3 = #515151
    TextColor4 = #6b6b6b
    ErrorText = #3d3d3d
    
    CloseButton = #b8b8b8
    CloseButtonHover = #008f00

    LoadingColor1 = #00a300
    LoadingColor2 = rgba(70,186,78,0.9)
    
    ScrollBarBg = #d1d1d1
    ScrollBarIndicator =  GreenD
    ScrollBarIndicatorHover = GreenL

//Top Bar
    TitleBarColor = #f8f8f8
    TitleBarText = #000
    FullScreenBtn = #3d3d3d
    FullScreenBtnHover = GreenD

    NavBarColor = #f8f8f8
    NavBarText = #414141
    NavBarTextHover = Black
    NavBarActive = GreenD
    
    SearchBox = Grey

    DropDownColor = White
    DropDownColor2 = Grey
    DropDownText = Black
    DropDownText2 = #373737
    DropDownOpacity = 0.97
    
    IconColor = TextColor2
    IconColorHover = GreenD

    TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, .9);
    
//Buttons
    Button = #00a300
    ButtonHover = #00b700
    ButtonActive = #008f00
    
    ButtonInactive = #003500
    ButtonInactiveHover = #344334
    
    TextButton = #fafcf2
    TextButtonHover = TextButton

    ButtonRadius = 3px
    
//Posters
    PosterRadius = 4px
    PosterBorder = GreenL
    PosterOverlay = rgba(23, 24, 27, 0.6)
    PosterShadow = 0px 0px 10px //TODO: use none for flat
    
//TV Series
    ShowBgColor1 = BgColor1
    ShowBgColor2 = BgColor2

    EpisodeDetails = BgColor1

    ShowTextColor1 = TextColor1
    ShowTextColor2 = TextColor2

    SeasonListColor = Black
    EpisodeListColor = TextColor2

    ShowSelector = GreenD
    ShowSelectorText = TextButton

//Settings
    SettingsCategories = GreenD
    SettingsSeparator = #aaa

    InputBox = Grey
    InputBoxText = TextColor1
    
    SettingsTextColor1 = TextColor1
    SettingsTextColor2 = TextColor4

    SettingsTextButton = TextButton
    SettingsTextButtonHover = TextButton

//Misc
    FavoritesColor = #ee1111
    
    PngLogo = brightness(0.30)