lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.idea/

node_modules/

pids
logs
results

npm-debug.log

app.nw

.sass-cache
*-ck.js
*.srt
*.DS_Store

js/vendor/config.js
dist/windows/Install Popcorn Time.exe
dist/mac/Popcorn Time.app/
dist/mac/Popcorn Time.zip

node-webkit.app/Contents/Frameworks/node-webkit Framework.framework/
node-webkit.app/Contents/Frameworks/crash_inspector

node-webkit.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/Info.plist

node-webkit.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/MacOS/node-webkit Helper EH

node-webkit.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/PkgInfo

node-webkit.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/Resources/crash_inspector

node-webkit.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/Resources/crash_report_sender.app/Contents/Info.plist

node-webkit.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/Resources/crash_report_sender.app/Contents/MacOS/crash_report_sender

node-webkit.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/Resources/crash_report_sender.app/Contents/PkgInfo

node-webkit.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/Resources/crash_report_sender.app/Contents/Resources/Breakpad.nib

node-webkit.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/Resources/crash_report_sender.app/Contents/Resources/English.lproj/Localizable.strings

node-webkit.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/Resources/crash_report_sender.app/Contents/Resources/crash_report_sender.icns

node-webkit.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/Resources/nw.icns

node-webkit.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/Info.plist

node-webkit.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/MacOS/node-webkit Helper NP

node-webkit.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/PkgInfo

node-webkit.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/Resources/crash_inspector

node-webkit.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/Resources/crash_report_sender.app/Contents/Info.plist

node-webkit.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/Resources/crash_report_sender.app/Contents/MacOS/crash_report_sender

node-webkit.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/Resources/crash_report_sender.app/Contents/PkgInfo

node-webkit.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/Resources/crash_report_sender.app/Contents/Resources/Breakpad.nib

node-webkit.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/Resources/crash_report_sender.app/Contents/Resources/English.lproj/Localizable.strings

node-webkit.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/Resources/crash_report_sender.app/Contents/Resources/crash_report_sender.icns

node-webkit.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/Resources/nw.icns

node-webkit.app/Contents/Frameworks/node-webkit Helper.app/Contents/Info.plist

node-webkit.app/Contents/Frameworks/node-webkit Helper.app/Contents/MacOS/node-webkit Helper

node-webkit.app/Contents/Frameworks/node-webkit Helper.app/Contents/PkgInfo

node-webkit.app/Contents/Frameworks/node-webkit Helper.app/Contents/Resources/crash_inspector

node-webkit.app/Contents/Frameworks/node-webkit Helper.app/Contents/Resources/crash_report_sender.app/Contents/Info.plist

node-webkit.app/Contents/Frameworks/node-webkit Helper.app/Contents/Resources/crash_report_sender.app/Contents/MacOS/crash_report_sender

node-webkit.app/Contents/Frameworks/node-webkit Helper.app/Contents/Resources/crash_report_sender.app/Contents/PkgInfo

node-webkit.app/Contents/Frameworks/node-webkit Helper.app/Contents/Resources/crash_report_sender.app/Contents/Resources/Breakpad.nib

node-webkit.app/Contents/Frameworks/node-webkit Helper.app/Contents/Resources/crash_report_sender.app/Contents/Resources/English.lproj/Localizable.strings

node-webkit.app/Contents/Frameworks/node-webkit Helper.app/Contents/Resources/crash_report_sender.app/Contents/Resources/crash_report_sender.icns

node-webkit.app/Contents/Frameworks/node-webkit Helper.app/Contents/Resources/nw.icns

node-webkit.app/Contents/Info.plist

node-webkit.app/Contents/MacOS/node-webkit

node-webkit.app/Contents/PkgInfo

node-webkit.app/Contents/Resources/nw.icns
