lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.idea/
*.iml

node_modules/
src/app/vendor
src/app/themes
build/

pids
logs
results

npm-debug.log

app.nw

.sass-cache
*-ck.js
*.srt
*.DS_Store

# vim swap files
*.swp

src/app/css/app.css
*.sublime-*
dist/windows/*.exe
dist/linux/linux-installer
*.bat
*.db
*git.json
*openvpn*
