<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <link rel="stylesheet" type="text/css" href="js/vendor/video-js/video-js.css" />
  </head>
  <body>

    <header id="header">
      <nav class="btn-set">
        <button class="btn-os close"></button>
        <button class="btn-os min"></button>
        <button class="btn-os max"></button>
      </nav>
      <h1>Popcorn Time</h1>

    </header>
  
    <div id="notification"></div>


    <div id="catalog-select">
      <div class="search">
        <input type="text" placeholder="Search" data-translate="search" />
        <i class="fa fa-search"></i>
      </div>

      <h4 data-translate="movies">Movies</h4>
      <ul class="categories">
        
      </ul>
    </div>

    <section class="container">
      <sidebar class="hidden"></sidebar>

      
    </section>

    <script id="sidebar-tpl" type="text/x-template">
      <div class="play">
        <div class="closer"><i class="fa fa-times"></i></div>
        <div class="poster-cont">
          <ul class="movie-config">
            <% if (typeof subtitles !== 'undefined') { %>
              <li class="options">
                <%= Language['subtitledIn'] %>

                <% for (var i = 0, keys = _.keys(subtitles), l = keys.length; i < l; ++i) { %>
                  <span class="available-subtitles">
                    <span class="flag flag-<%= keys[i] %>" title="<%= Languages[keys[i]] %>"></span>
                  </span>
                <% } %>
              </li>
            <% } %>
            <% if (this.model.get('quality') && this.model.get('torrents')) { %>
              <li class="options">
                <%= Language['quality'] %>
                <% if (this.model.get('torrents')["720p"] && this.model.get('torrents')["1080p"]) { %>
                  <div class="quality switch white">
                    <input type="radio" name="switch" id="switch-off"<% if (this.model.get('quality') === '720p') { %> checked<% } %>>
                    <input type="radio" name="switch" id="switch-on"<% if (this.model.get('quality') === '1080p') { %> checked<% } %>>
                    <label for="switch-off">720p</label>
                    <label for="switch-on">1080p</label>
                    <span class="toggle"></span>
                  </div>
                <% } else { %>
                  <span class="quality"><%= quality %></span>
                <% } %>
              </li>
            <% } %>
          </ul>
          <img class="big-poster" src="<%= bigImage %>" alt="<%= title %>" />
        </div>

        <div class="side-content">
          <% if (this.model.get('torrents')) { %>
            <a href="" class="p_tooltip play-button"><%= Language['watchItNow'] %></a>
          <% } %>
          <div>
            <h2><%= title %></h2>
            <span><%= year %></span>
            <p><%= synopsis %></p>

            <p class="duration"><i class="fa fa-clock-o"></i> <%= runtime %> <%= Language['durationUnit'] %></p>

            <% var p_rating = (this.model.get('voteAverage') / 10) * 5 %>
            <div class="rating" data-rating="<%= voteAverage %>">
              <ul class="votes">
              <% for (var i = 0; i < 5; i++) { %>
                <% if(p_rating > 0 + i && p_rating < 0.5 + i){ %>
                  <i class="fa fa-star-o"></i> 
                <% }else if (p_rating >= 0.5 + i && p_rating < 1 + i){ %>
                  <i class="fa fa-star-half"></i> 
                <% }else if(p_rating >= 1 + i ){ %>
                  <i class="fa fa-star"></i> 
                <% } %>

              <% }; %>
              </ul>
              <ul class="empty_votes">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i> 
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </ul>
            </div>

            <i data-placement="left" data-toggle="tooltip" title="<%= health %> health"  class="health <%= health %> fa fa-flash"></i>

          </div>
        </div>
      </div>
    </script>

    <div class="popcorn-load hidden">
      <div class="wrapper">
        <span class="spinner"></span>
        <span class="text"></span>
        <div class="progressbar"><div class="progress"></div></div>
        <div class="progressinfo"></div>
      </div>
      <a href="javascript:;" class="btn-close"><img src="/images/close.svg" width="50" /></a>
    </div>

    <div id="video-container"></div>

    <script src="js/vendor/jquery-2.1.0.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone-1.1.0.js"></script>
    <script src="js/vendor/bootstrap-tooltip.min.js"></script>
    <script src="js/vendor/config.js"></script>
    <script src="js/app.js"></script>

    <script src="js/vendor/video-js/video.dev.js"></script>
    <script src="js/frontend/app.js"></script>
    <script src="js/frontend/providers/torrents.js"></script>
    <script src="js/frontend/providers/cache.js"></script>
    <script src="js/frontend/providers/themoviedb.js"></script>
    <script src="js/frontend/providers/opensubtitles.js"></script>
    <script src="js/frontend/models/movie.js"></script>
    <script src="js/frontend/views/page.js"></script>
    <script src="js/frontend/views/listview.js"></script>
    <script src="js/frontend/views/movie.js"></script>
    <script src="js/frontend/views/sidebar.js"></script>
    <script src="js/frontend/controllers/home.js"></script>
    <script src="js/frontend/controllers/search.js"></script>
    <script src="js/frontend/controllers/filter.js"></script>
    <script src="js/frontend/router.js"></script>
  </body>
</html>
