<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script>window.__startTime = (new Date()*1);</script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="js/vendor/video-js/video-js.css">

  </head>
  <body>

    <header id="header"></header>

    <script id="header-tpl" type="text/x-template">
        <nav class="btn-set <%= process.platform %>">

          <% _.each(buttons, function(button) { %>
            <button class="btn-os <%= button %>"></button>
          <% }); %>
        </nav>

        <nav class="btn-set fs-<%= process.platform %>">
          <button class="btn-os fullscreen"></button>
        </nav>
        <h1>Popcorn Time</h1>
    </script>

    <div id="notification"></div>

    <div id="catalog-select">
      <div class="search">
        <input type="text" placeholder="Search" data-translate="search" />
        <i class="fa fa-search"></i>
      </div>

      <h4 data-translate="movies">Movies</h4>
      <ul class="categories">

      </ul>
    </div>

    <section class="container">
      <sidebar class="hidden"></sidebar>
    </section>

    <script id="sidebar-tpl" type="text/x-template">
      <div class="play">
        <div class="backdrop-image" style="background-image:url(<%= this.model.get('backdrop') %>);"></div>

        <div class="movie-detail">
          <div class="closer"><img src="/images/close.svg" width="50"></div>
          <div class="poster-cont">
            <div class="poster-inner">
              <div class="poster">
            <img class="big-poster" src="<%= bigImage %>" alt="<%= title %>" />
          </div>

              <ul class="movie-config">
              <% if (this.model.get('quality') && this.model.get('torrents')) { %>
                <li class="options quality-cont">
                  <h4><%= i18n.__('quality') %></h4>
                  <% if (this.model.get('torrents')["720p"] && this.model.get('torrents')["1080p"]) { %>
                    <div class="quality switch white">
                      <input type="radio" name="switch" id="switch-off"<% if (this.model.get('quality') === '720p') { %> checked<% } %>>
                      <input type="radio" name="switch" id="switch-on"<% if (this.model.get('quality') === '1080p') { %> checked<% } %>>
                      <label for="switch-off">720p</label>
                      <label for="switch-on">1080p</label>
                      <span class="toggle"></span>
                    </div>
                  <% } else { %>
                    <span class="quality-off"><%= quality %></span>
                  <% } %>
                </li>
              <% } %>
              </ul>
            </div>
          </div>

          <div class="side-content">
            <div class="title">
              <h2><%= title %></h2>

              <ul class="movie-quick-info">
                <li>
                  <%= year %>
                </li>
                <li>
                  <% if (this.model.get('runtime')) { %>
                    <span class="duration"><%= runtime %> <%= i18n.__('durationUnit') %></span>
                  <% } %>
                </li>
              </ul>

              <i data-placement="left" data-toggle="tooltip" title="<%= health %> health" class="health <%= health %> fa fa-flash"></i>

              <% var p_rating = this.model.get('voteAverage') ? this.model.get('voteAverage').toFixed(1) : 0.0 %>
              <div class="rating">
                <ul class="votes" title="<%= p_rating %> / 10">
                  <% p_rating = Math.round(p_rating) / 2; // Roundoff number to nearest 0.5 %>
                  <% for (var i = 1; i <= Math.floor(p_rating); i++) { %>
                    <i class="fa fa-star"></i>
                  <% }; %>
                  <% if (p_rating % 1 > 0) { %>
                    <i class="fa fa-star-half-o"></i>
                  <% }; %>
                  <% for (var i = Math.ceil(p_rating); i < 5; i++) { %>
                    <i class="fa fa-star-o"></i>
                  <% }; %>
                </ul>
              </div>
            </div>

            <p><%= synopsis %></p>

            <% if ( ! _.isEmpty(subtitles) ) { %>
            <div class="subtitles-list">
              <h4><%= i18n.__('subtitledIn') %></h4>

              <ul>
                <% if (typeof subtitles !== 'undefined') { %>
                  <li>
                    <% for (var i = 0, keys = _.keys(subtitles), l = keys.length; i < l; ++i) { %>
                      <span class="flag flag-<%= keys[i] %>" title="<%= i18n.__(keys[i]) %>"></span>
                    <% } %>
                  </li>
                <% } %>
              </ul>
            </div>
            <% } %>

            <% if (this.model.get('torrents')) { %>
              <a href="" class="p_tooltip play-button" disabled="disabled"><%= i18n.__('watchItNow') %></a>
            <% } %>
          </div>
        </div>
      </div>
    </script>

    <div class="popcorn-load hidden">
      <div class="wrapper">
        <span class="spinner"></span>
        <span class="text"></span>
        <div class="progressbar"><div class="progress"></div></div>
        <div class="progressinfo"></div>
      </div>
      <a href="javascript:;" class="btn-close"><img src="/images/close.svg" width="50" /></a>
    </div>

    <div id="video-container"></div>

    <div class="popcorn-disclaimer hidden">
      <div class="wrapper">
        <span class="text" data-translate="legalDisclaimer"></span>
        <span class="text" data-translate="legalDisclaimerResponsible"></span>
        <br/>
        <a class="btn confirmation quit" data-translate="legalDisclaimerCancel"></a>
        <a class="btn confirmation continue" data-translate="legalDisclaimerAccept"></a>
      </div>
    </div>


    <!-- Basic Dependencies -->
    <script src="js/vendor/jquery-2.1.0.min.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone-1.1.0.js"></script>
    <script src="js/vendor/marionette.1.6.4.js"></script>
    <script src="js/vendor/bootstrap-tooltip.min.js"></script>

    <!-- Settings Module and API Keys -->
    <script src="js/vendor/settings.js"></script>
    <script src="js/vendor/config.js"></script>

    <!-- App Initialization -->
    <script src="js/app.js"></script>
    <script src="js/language.js"></script>

    <!-- UI and UI-related Initialization -->
    <script src="js/frontend/ui.js"></script>
    <script src="js/frontend/player.js"></script>

    <!-- Backbone Models -->
    <script src="js/frontend/models/movie.js"></script>

    <!-- Data Sources -->
    <script src="js/frontend/providers/cache.js"></script>
    <script src="js/frontend/providers/themoviedb.js"></script>
    <script src="js/frontend/providers/yifysubtitles.js"></script>
    <script src="js/frontend/scrapers/yts.js"></script>
    <script src="js/frontend/scrapers/scrapers.js"></script>

    <!-- Backbone Views and Controllers -->
    <script src="js/frontend/views/page.js"></script>
    <script src="js/frontend/views/listview.js"></script>
    <script src="js/frontend/views/movie.js"></script>
    <script src="js/frontend/views/sidebar.js"></script>
    <script src="js/frontend/controllers/home.js"></script>
    <script src="js/frontend/controllers/search.js"></script>
    <script src="js/frontend/controllers/filter.js"></script>
    <script src="js/frontend/router.js"></script>

    <!-- Other Dependencies -->
    <script src="js/vendor/video-js/video.dev.js"></script>
    <script src="js/vendor/videojsplugins.js"></script>
    <script src="js/vendor/dragwindow.js"></script>
  </body>
</html>
