// OFFICIAL POPCORN-THEME: BLACK AND YELLOW
Font = 'Open Sans'
MainFont = 'Open Sans Semibold'
MainFontBold = 'Open Sans Bold'
AlternateFont = sans-serif

BgColor1 = #000
BgColor2 = #110f0f

TitleBarColor = #000
TitleBarText = #fff
FullScreenBtn = #999
FullScreenBtnHover = #e3bd0c

NavBarColor = #000
NavBarText = #e9e9e9
NavBarTextHover = #fff
SearchBox = #191818

DropDownColor = #000
DropDownColor2 = rgba(#e3bd0c,0.2)
DropDownText = #fff
DropDownText2 = #d9d9d9

TextColor1 = #fff 
TextColor2 = #C9C9C9
TextColor3 = #939597
TextColor4 = #4b4b4b

Button = #f3cc16
ButtonHover = #e3bd0c
ButtonActive = #FFCC00
ButtonInactive = #737577
ButtonInactiveHover = #737577
TextButton = #000

FavoritesColor = #df2d37

ShowSelector = darken(#f3cc16,20%)

LoadingColor1 = #e3bd0c
LoadingColor2 = #FFCC00

ScrollBarBg = #30333c
ScrollBarIndicator = #e3bd0c
ScrollBarIndicatorHover = #FFCC00

InputBox = #232324;

ErrorText = #797979

CloseButton = #fff
CloseButtonHover = #e3bd0c

PngLogo = brightness(1)