.movie-item
	display: inline-block;
	margin: 10px
	float: left
	font-size: 0.8em

	.cover
		background-image url(../../images/posterholder.png)
		background-size: 134px 196px
		width: 134px
		height: 196px
		border-radius: 4px
		box-shadow: 0px 0px 10px
		cursor: pointer
		transition: opacity .50s ease
		opacity: 0

		.cover-overlay
			//background: rgba(45, 117, 223, 0.61);
			background rgba(23, 24, 27, 0.6)
			text-align center
			padding 88px 0
			width 100%
			height 100%
			border: 2px solid rgba(23, 24, 27, 0.6)
			border-radius 4px
			transition opacity .25s ease
			transition border-color .25s ease
			opacity 0
			position relative

			.actions-favorites
				float: right
				margin-top: -80px
				margin-right: 7px
				color: #FFFFFF
				font-size: 1.4 em
				-webkit-transition: color 0.5s

				&.selected
					color: #df2d37
				&:hover
					cursor: pointer
					color: #2d75df

			.actions-watched
				float: left
				margin-top: -80px
				margin-left: 7px
				color: #FFFFFF
				font-size: 1.4 em
				-webkit-transition: opacity 0.5s
				opacity: 0.3

				&:hover
					opacity: 0.7
					cursor: pointer

				&.selected
					opacity: 1

			.rating
				background linear-gradient(to top, rgba(0, 0, 0, .9), rgba(255, 255, 255, 0))
				bottom 0
				display none
				height auto
				left 0
				margin 0
				overflow hidden
				padding: 10px 5px 5px
				position absolute
				right 0
				text-align left

			.rating-stars
				float left

			.rating-value
				color #fff
				float right

	&.selected
		.cover
			.cover-overlay
				border 2px solid #2d75df
				opacity: 1
	.title
		height: 14px;
		margin: 6px 0 4px;
		color: #fff
		max-width: 134px
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap

	.year
		font-size: 0.85em
		color: #5b5b5b
		display: inline

	.seasons
		font-size: 0.85em
		color: #5b5b5b
		display: inline
		float: right
		
		&.quality
			display: none


.load-more
	background-size 134px 196px
	width 134px
	height 196px
	border-radius 4px
	box-shadow 0px 0px 10px
	cursor pointer
	display inline-block
	margin 10px
	float left
	background-color:#141c25
	-webkit-transition: background-color 200ms linear;

	> .loading-container
		display none
		margin-top 70px
		margin-left 40px

	.status-loadmore
		position: absolute;
		color: #c3c5c7;
		margin-top: 80px;
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #173b5b;
		-webkit-box-shadow: 0px 0px 10px #000;
		padding-bottom: 10px;
		padding-top: 10px;
		border-radius: 2px;
		font-family: "Open Sans Semibold", sans-serif;
		-webkit-transition: background-color 200ms linear;
		width: 100%;
		max-width 113px
		text-align center

		&:hover
			background-color:#1b4365
