.movie-item
    margin: 10px
    float: left
    font-size: 0.8em

    .cover
        background-size: 134px 196px
        width: 134px
        height: 196px
        border-radius: 4px
        box-shadow: 0px 0px 10px
        cursor: pointer

    .title
        margin-top: 10px
        color: #fff
        max-width: 134px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

    .year
        color: #5b5b5b