html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/OpenSans-Semibold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
.left {
  float: left;
}
.right {
  float: right;
}
.nav {
  font-size: 0.8em;
}
ul.nav-hor > li {
  float: left;
}
.dropdown-menu {
  background-color: #1b232f;
}
.dropdown-menu > li > a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  color: #c3c5c7;
}
.dropdown-menu > li > a.active {
  color: #fff;
  background-color: #0b131f;
  background-image: none;
  border-left: 4px solid #83888c;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #0b131f;
  background-image: none;
  border-left: 4px solid #2d75df;
}
.loading {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  background-color: rgba(0,0,0,0.5);
  -webkit-user-select: none;
}
.loading .state {
  color: #c3c5c7;
  font-size: 1.1em;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
}
.loading .state .value {
  color: #a3a5a7;
  font-size: 0.8em;
}
#player,
.player {
  width: 100%;
  height: 100%;
}
.player {
  z-index: 10;
  position: absolute;
  overflow: hidden;
  background-color: #000;
}
.player video {
  width: 100%;
  height: 100%;
}
html,
body,
.main-window-region {
  height: 100%;
}
#main-window {
  width: 100%;
  height: 100%;
  background-color: #1b232f;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.75);
  box-shadow: 0 0 40px rgba(0,0,0,0.75);
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans Semibold", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: default;
}
#main-window button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
#main-window #content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#header {
  position: absolute;
  top: 0;
  height: 30px;
  padding: 13px 0 0;
  text-align: center;
}
#header h1 {
  color: #fff;
  font-size: 0.9em;
}
#header .btn-set {
  position: absolute;
  left: 15px;
}
#header nav {
  -webkit-app-region: no-drag;
}
#header nav.darwin {
  position: absolute;
  left: 15px;
}
#header nav.fs-darwin {
  top: 0px;
  right: 7px;
  left: initial;
}
#header nav.win32,
#header nav.linux {
  right: 7px;
  left: initial;
}
#header nav.fs-win32,
#header nav.fs-linux {
  position: absolute;
  left: 10px;
  top: 0px;
}
#header .btn-os {
  display: block;
  float: left;
  margin: 0 6px 0 0;
  background: #000;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 0;
  color: transparent;
  display: inline-block;
  font-size: 10px;
  height: 12px;
  padding: 0;
  text-align: center;
  width: 12px;
  cursor: pointer;
}
#header .btn-os.os-close:hover {
  background: #e74c3c;
}
#header .btn-os.os-max:hover {
  background: #27ae60;
}
#header .btn-os.os-min:hover {
  background: #f1c40f;
}
#header .btn-os.fullscreen {
  color: #000;
  background: transparent;
  margin: 0;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: block;
}
#header .btn-os.fullscreen::before {
  content: "\e000";
  font-family: VideoJS;
  font-size: 1.85em;
  line-height: 0.2em;
  background: none;
  display: block;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
}
#header .btn-os.fullscreen.active::before {
  content: "\e00B";
}
#header .btn-os.fullscreen:hover {
  color: #b2b2b2;
}
.filter-bar,
#header {
  z-index: 1;
  width: 100%;
  opacity: 0.97;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
  filter: alpha(opacity=97);
  background-color: #1b232f;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.filter-bar {
  position: absolute;
  top: 30px;
  height: 35px;
  -webkit-box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 8px -4px rgba(0,0,0,0.9);
}
.filter-bar .source {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-app-region: no-drag;
  color: #c3c5c7;
  text-align: center;
  cursor: pointer;
  width: 80px;
  height: 20px;
  padding: 10px 0 0;
}
.filter-bar .source:hover {
  color: #fff;
}
.filter-bar .source.active {
  border-bottom: 4px solid #2d75df;
}
.filter-bar .nav.filters {
  float: left;
  margin-left: 10px;
}
.filter-bar .filter {
  padding: 10px 0 0;
  margin-left: 20px;
}
.filter-bar .filter > a {
  -webkit-app-region: no-drag;
  display: inline-block;
  padding: 0;
  color: #c3c5c7;
  background-color: transparent !important;
}
.filter-bar .filter > a:hover {
  color: #fff;
}
.filter-bar .filter .value {
  color: #2d75df;
  padding-left: 10px;
}
.filter-bar .filter .dropdown-menu {
  font-size: 0.9em;
  -webkit-app-region: no-drag;
  overflow-x: hidden;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
  max-height: 500px;
  margin-top: 11px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-bar .filter .dropdown-menu::-webkit-scrollbar {
  width: 5px;
}
.filter-bar .filter .dropdown-menu::-webkit-scrollbar-track {
  background-color: #30333c;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.filter-bar .filter .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #83888c;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.filter-bar .filter .dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: #93989c;
}
.filter-bar .filter .dropdown-menu::-webkit-resizer,
.filter-bar .filter .dropdown-menu::-webkit-scrollbar-corner,
.filter-bar .filter .dropdown-menu::-webkit-scrollbar-button,
.filter-bar .filter .dropdown-menu::-webkit-scrollbar-track-piece {
  display: none;
}
.filter-bar button {
  -webkit-app-region: no-drag;
  background: center no-repeat;
  -webkit-transition: background-image 0.5s;
  -moz-transition: background-image 0.5s;
  -o-transition: background-image 0.5s;
  -ms-transition: background-image 0.5s;
  transition: background-image 0.5s;
  width: 18px;
  height: 18px;
  margin: 10px 5px 0;
}
.filter-bar button.settings {
  margin-right: 10px;
  background-image: url("../images/icons/settings.png");
}
.filter-bar button.settings:hover {
  background-image: url("../images/icons/settings_hover.png");
}
.filter-bar button.queue {
  background-image: url("../images/icons/queue.png");
}
.filter-bar button.queue:hover {
  background-image: url("../images/icons/queue_hover.png");
}
.filter-bar button.favorites {
  background-image: url("../images/icons/favorites.png");
}
.filter-bar button.favorites:hover {
  background-image: url("../images/icons/favorites_hover.png");
}
.filter-bar .search input {
  line-height: normal;
  -webkit-app-region: no-drag;
  outline: none;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
  width: 0px;
  height: 18px;
  position: relative;
  background: url("../images/icons/search.png") no-repeat 5px center;
  border: solid 0px;
  margin: 8px 3px 0;
  padding: 2px;
  padding-left: 28px;
  -webkit-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
.filter-bar .search input:hover {
  background: url("../images/icons/search_hover.png") no-repeat 5px center;
}
.filter-bar .search input:focus {
  background: #ededed url("../images/icons/search_hover.png") no-repeat 5px center;
  width: 130px;
  color: #c4c6c8;
  background-color: #121820;
  cursor: auto;
}
.filter-bar .search input::-moz-placeholder,
.filter-bar .search input::-webkit-input-placeholder {
  color: transparent;
}
.filter-bar .search input:focus::-webkit-input-placeholder {
  color: #c4c6c8;
}
.movie-list {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: overlay;
  -webkit-overflow-scrolling: touch;
}
.movie-list::-webkit-scrollbar {
  width: 5px;
}
.movie-list::-webkit-scrollbar-track {
  background-color: #30333c;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.movie-list::-webkit-scrollbar-thumb {
  background-color: #83888c;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.movie-list::-webkit-scrollbar-thumb:hover {
  background-color: #93989c;
}
.movie-list::-webkit-resizer,
.movie-list::-webkit-scrollbar-corner,
.movie-list::-webkit-scrollbar-button,
.movie-list::-webkit-scrollbar-track-piece {
  display: none;
}
.movie-list::-webkit-scrollbar-track {
  margin-top: 65px;
}
.movie-list .movies {
  padding-top: 65px;
  -webkit-user-select: none;
}
.movie-list .error {
  font-size: 1.5em;
  text-align: center;
  margin-top: 180px;
  color: #727272;
  font-weight: bold;
}
.movie-list .spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000 center center no-repeat;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.movie-list .spinner .spinner-image {
  margin: 180px auto 0px;
  background: url("../images/spinner.svg") no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: block;
  height: 45px;
  -webkit-animation: 1.05s spin infinite linear;
  width: 45px;
}
.movie-item {
  margin: 10px;
  float: left;
  font-size: 0.8em;
}
.movie-item .cover {
  -webkit-background-size: 134px 196px;
  -moz-background-size: 134px 196px;
  background-size: 134px 196px;
  width: 134px;
  height: 196px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px;
  box-shadow: 0px 0px 10px;
  cursor: pointer;
}
.movie-item .cover .cover-overlay {
  background: rgba(45,117,223,0.7);
  text-align: center;
  padding: 88px 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.movie-item .cover .cover-overlay:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.movie-item .cover .cover-overlay .actions {
  margin: auto;
  width: 105px;
}
.movie-item .cover .cover-overlay .actions div {
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 5px;
  width: 25px;
  height: 20px;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.movie-item .cover .cover-overlay .actions div.favorites {
  background-image: url("../images/icons/add_favorites.png");
}
.movie-item .cover .cover-overlay .actions div.detail {
  background-image: url("../images/icons/detail.png");
}
.movie-item .cover .cover-overlay .actions div.queue {
  background-image: url("../images/icons/add_queue.png");
}
.movie-item .cover .cover-overlay .actions div:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.movie-item .title {
  height: 14px;
  margin: 6px 0 4px;
  color: #fff;
  max-width: 134px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.movie-item .year {
  font-size: 0.85em;
  color: #5b5b5b;
}
