.wcp-toolbar {
    background: rgba(23,24,27,0.75);
}

/* progress bar */
.wcp-progress-bar {

	position: absolute;
	top: 17px;
	width: calc( 100% - 310px);
	height: 6px;
	left: 180px;
	right: 230px;

	margin: auto;
	border-radius: 4px;
	background: #bababa;
	white-space: nowrap;
	cursor: pointer;
}

.wcp-progress-seen {
	background: #2d75df;
	height: 6px;
	width: 0%;
	display: inline-block;
	vertical-align: top;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.wcp-progress-pointer {
	background: #ffffff;
	border-radius: 50px;
	height: 11px;
	width: 11px;
	margin-left: -4px;
	display: inline-block;
	vertical-align: top;
	margin-top: -2px;
}

.wcp-button {
    width: 35px;
    margin-top: 4px;
}

.wcp-button:hover {
    float: right;
}

.wcp-vol-control {
    top: 4px;
}

.wcp-vol-bar {
    top: 7px;
}

.wcp-time {
	margin-top: 4px;
}

/* Status Message */
.wcp-status {
	font-family: "OpenSans";
	position: absolute;
	z-index: 2;

	width: 33%;
	font-size: 14px;
	background-color: transparent;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	padding: 10px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	top: 65px;
	left: 5px;
}
