// Disable IE Vendor Patches
support-for-ie = false
// Only use Webkit vendor prefixes
vendor-prefixes = webkit official

@import 'nib'

global-reset()

$TitleHeight = 32px
$FilterBarHeight = 35px
$HeaderHeight = 65px
$MovieListPadding = calc(100% - 67px)


@import 'fonts'
@import 'misc'
@import 'bootstrap-theme'

@import 'player'
@import 'videojs'

@import 'main_window'
@import 'initializing'
@import 'title_bar'
@import 'filter_bar'

@import 'browser/list'
@import 'browser/item'
@import 'movie_detail'
@import 'movie_error'
@import 'show_detail'

@import 'about'
@import 'help'
@import 'issue'
@import 'keyboard'
@import 'file_selector'
@import 'torrent_collection'

@import 'settings'
@import 'loading'
@import 'notification'