.nav
    font-size: 0.8em

.header_icon
    font-size: 20px
    color: TextColor3 //add onhover color of NavBarActive later

ul.nav-hor > li
    float: left

.dropdown-menu
    background-color: DropDownColor
    opacity DropDownOpacity

    & > li > a
        transition: all 0.2s
        color: DropDownText2
        opacity 1

        &.active
            color: DropDownText
            background-color: DropDownColor2
            background-image: none
            border-left: 4px solid NavBarText

        &:focus,
        &:hover
            color: DropDownText
            background-color: DropDownColor2
            background-image: none
            border-left: 4px solid NavBarActive

.playerchoice
    padding-left 8px
    margin-left 8px
    margin-right -4px
    border-left 1px solid rgba(255,255,255,.2)

    img
        width 26px
        height 20px
        margin 6px 2px
        float left

.playerchoicemenu
    font-size 1em
    text-align left
    left auto
    right -2px

    & > li > a
        padding-left 10px
        padding-right 10px

        img
            height 16px
            width 21px
            float right
            margin-right -5px
            -webkit-filter: PngLogo