.calendar-container
	z-index 1
	height 100%
	width 100%
	position fixed
	background-color $BgColor1
	.margintop
		height 67px
	.content > #testDivframe
			height calc(100% - 67px)
			width 100%
			position absolute
			text-align center
			iframe
				height 100%
				width 100%
				scrollable();
	.close-icon-cal
		position: absolute
		top: 81px
		right: 8px