.help-container 
    z-index 15
    height 100%
    width 100%
    position fixed
    -webkit-user-select none
    opacity 1

    .overlay-content 
        height 100%
        width 100%
        position absolute
        background $BgColor1
        opacity 0.95
        z-index -1

    h1 
        font-family $AlternateFont
        font-weight bold
        font-size 20px

        & + hr 
            margin-top: 10px
            margin-bottom: 10px


    .content 
        height: 100%
        margin 0 auto
        margin-top 60px
        width 80%
        color $Text1
        font-family $AlternateFont
        font-size 15px

        .text-about 
            margin-top 55px
            line-height 22px
            margin-bottom 20px
            position absolute
            width 60%

        .did-you-know
            width 100%
            text-align: center
            line-height: 26px
            vertical-align: middle
            font-family: $AlternateFont
            margin-bottom 15px

            .title-dyk
                font-family $AlternateFont
                font-weight bold
                color $Text1
                font-size: 24px
                margin-right: 20px

                .icon-dyk
                    font-size: 30px
                    color: $Text1
                    margin-right: 10px

            .randomized-dyk
                font-size: 16px

        .help-outer
            scrollable()
            height: calc(100% - 200px);
            padding-right 10px
            text-align justify

            h2
                font-family $AlternateFont
                font-weight bold
                font-size 18px
                line-height 22px
                color $Text1
                margin-bottom 6px
                margin-top 15px

                &.top
                    margin-top 5px

            p
                font-family $AlternateFont
                font-size 15px
                line-height 20px
                color $Text1

            li
                margin-top 6px
                line-height 18px
                font-size 14px
                font-family $AlternateFont

            b
                font-family $AlternateFont
                font-weight: bold

            #in-app-reporter
                cursor pointer

            em
                font-size .8em
