.show-detail-container
    display: flex
    position: fixed
    width: 100%
    padding-top: 67px
    background: $BgColor1
    flex-direction: column

    .show-header
        width: 100vw
        /*height: 25vh TODO: responsive header (especially poster)*/
        min-height: 215px

        .sh-cover
            .shc-img
                position: absolute
                min-height: 215px
                width: 100vw
                background-repeat: no-repeat
                background-size: cover
                background-position: center
                -webkit-filter: blur(60px) brightness(0.7)
                background-color $ShowBgColor1
                opacity: 0
                &.fadein
                    transition: opacity .3s ease-in;
                    opacity: 1

        .sh-poster
            float: left
            width: 198px
            height: 100%

            .shp-img
                position relative
                margin-left 32px
                margin-top 10px
                width 134px
                height 197px
                box-shadow 0px 0px 10px
                background-size auto
                background-position center
                background-repeat no-repeat
                border-radius 4px
                opacity 0
                background-color $ShowBgColor1
                &.fadein
                    transition: opacity .3s ease-in;
                    opacity: 1

        .sh-metadata
            float: left
            position: relative
            height: 194px
            width: calc(100% - 198px)
            padding-top: 10px
            padding-right: 45px

            .shm-title
                color #fff
                font-family $Font
                -webkit-font-smoothing antialiased
                font-size 28px
                margin-bottom 8px
                margin-top: 5px

            .shm-infos
                div
                    float: left
                    font-size: 11px
                    font-family: $MainFontBold
                    color: #fff
                    -webkit-font-smoothing: antialiased

                div.shmi-imdb
                    cursor: pointer
                    background: url(../images/icons/imdb.png) no-repeat
                    width: 27px
                    height: 16px
                    position: relative
                    top: -2px

                div.shmi-rating
                    cursor: pointer

                    .hidden
                        display: none

                    .number-container-tv
                        position: relative
                        font-size: 12px
                        font-family: $MainFontBold
                        color: #FFF

                        em
                            font-size: 0.8em

                    .star-container-tv
                        position relative
                        opacity 1

                        .rating-star
                            color #ffc900
                            font-size 11px
                            padding-right: 3px

                        .rating-star-half
                            color #ffc900
                            font-size 11px
                            margin-left -4px
                            padding-right: 3px

                        .rating-star-half-empty
                            color #a3a5a7
                            font-size 11px
                            margin-left: -3px

                        .rating-star-empty
                            color #a3a5a7
                            font-size 11px
                            padding-right: 3px

                        .rating-star-half-container
                            width 1em
                            height 1em
                            line-height 1em
                            margin-top 2px
                            margin-right: -3px

                span.dot
                    margin 4.5px 15px 0 15px
                    float left
                    width 3px
                    height 3px
                    border-radius 2px
                    background-clip padding-box
                    background-color #dbdbdd
                    cursor default

            .shm-synopsis
                color: #fff
                float: left
                width: 100%
                text-align: justify
                font-family: $MainFont
                -webkit-font-smoothing: antialiased
                font-size: 12px
                line-height: 22px
                max-height: 107px
                padding-right: 8px
                margin-top: 8px
                overflow: hidden
                scrollable()

        .sh-actions
            float: left
            position: relative
            width: calc(100% - 198px)
            height: 20px

            .sha-bookmark
                float: left
                cursor: pointer
                padding-left: 24px
                color: #FFF
                position: relative
                font-family: $MainFont
                font-smoothing: antialiased
                font-size: 12px
                line-height: 17px
                &:before
                    content: "\f004"
                    font-family: FontAwesome
                    position: absolute
                    font-size: 18px
                    color: #FFF
                    top: 0
                    left: 0
                    bottom: 0
                    right: 0
                    opacity: 1
                    transition: opacity 0.5s

                &:after
                    content: "\f004"
                    font-family: FontAwesome
                    position: absolute
                    font-size: 18px
                    color: $ButtonBgActive
                    top: 0
                    left: 0
                    bottom: 0
                    right: 0
                    opacity: 0
                    transition: opacity 0.5s

                &:hover
                    &:before
                        opacity: 0

                    &:after
                        opacity: 1

                &.selected
                    height: 18px
                    width: 200px
                    &:before
                        content: "\f004"
                        font-family: FontAwesome
                        position: absolute
                        font-size: 18px
                        color: $FavoriteColor
                        top: 0
                        left: 0
                        bottom: 0
                        right: 0
                        opacity: 1
                        transition: opacity 0.5s

                    &:after
                        content: "\f004"
                        font-family: FontAwesome
                        position: absolute
                        font-size: 18px
                        color: #FFF
                        top: 0
                        left: 0
                        bottom: 0
                        right: 0
                        opacity: 0
                        transition: opacity 0.5s

                    &:hover
                        &:before
                            opacity: 0

                        &:after
                            opacity: 1

            .sha-watched
                float: right
                cursor: pointer
                padding-left: 24px
                right: 45px
                color: #FFF
                position: absolute
                font-family: $MainFont
                font-smoothing: antialiased
                font-size: 12px
                line-height: 17px
                display: none

                &:before
                    content: "\f070"
                    font-family: FontAwesome
                    position: absolute
                    font-size: 18px
                    color: #FFF
                    left: 0
                    opacity: 1
                    transition: opacity 0.5s

                &:after
                    content: "\f00c"
                    font-family: FontAwesome
                    position: absolute
                    font-size: 20px
                    color: #299000
                    left: 0
                    opacity: 0
                    transition: opacity 0.5s

                &:hover, &.selected
                    &:before
                        opacity: 0
                    &:after
                        opacity: 1


    .show-details
        width: 100vw
        z-index: 1
        background: $ShowBgColor1
        height: calc(100vh - 282px)
        display: flex
        flex-direction: row
        padding-left: 20px /* left-pad */

        .sd-seasons ul, .sd-episodes ul
            height: calc(100vh - 340px)
            cursor: pointer
            direction: rtl
            scrollable()

            li
                padding: 0px 15px
                margin: 1px 0px 1px 1px
                float: left
                width: calc(100% - 7px)

                .watched
                    padding 9px 0
                    color: $ShowWatchedIcon_false
                    transition color .5s

                    &:hover
                        color: $ShowWatchedIcon_hover

                    &.true
                        color: $ShowWatchedIcon_true

            li:nth-child(odd)
                background-color $ShowBgColor2

            li:hover
                background $EpisodeSelectorHover

            li.active
                background-color $EpisodeSelectorBg
                position relative

                &:after
                    content ""
                    position absolute
                    top 0px
                    right -12px
                    width 0
                    height 0
                    border-color $ShowBgColor1 $ShowBgColor1 $ShowBgColor1 $EpisodeSelectorBg
                    border-style solid
                    border-width 16px 6px 17px 6px

            a
                text-decoration: none
                font-size: 15px
                line-height: 34px
                font-weight: normal
                float: left
                flex-direction: row
                direction: ltr

                span
                    float: left
                    margin: 0px 15px 0px 5px

                div
                    float: left
                    white-space: nowrap
                    border-left: 1px solid $ShowBgColor1
                    padding-left: 30px
                    max-width: calc(60vw - 265px)
                    text-align: left
                    overflow: hidden
                    text-overflow: ellipsis

        .sd-seasons, .sd-episodes
            .sds-title, .sde-title
                font-size: 24px
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
                margin-bottom: 15px
                margin-top: 2px
                color: $ShowText1

        .sd-seasons
            min-width: 165px
            max-width: 165px
            flex-shrink: 1
            flex-grow: 1
            padding: 10px

            .sds-list ul a
                color: $SaisonListText
                font-family: $AlternateFont
                white-space: nowrap

        .sd-episodes
            flex-grow: 2
            padding: 10px

            .sde-list ul li a
                color: $EpisodeListText
                font-family: $MainFont

            .sde-list ul li.active a
                color: $EpisodeSelectorText

        .sd-overview
            background: $ShowBgColor2
            flex-grow: 1
            flex-shrink: 0
            width: 35vw
            min-width: 350px
            padding: 10px 30px 10px 18px /* right pad */

            .sdo-infos
                .sdoi-title
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                    font-size: 24px
                    margin-top: 2px
                    margin-bottom: 6px
                    color: $ShowText1

                .sdoi-links
                    position: absolute
                    right: 42px
                    margin-top: -6px

                    &>div
                        padding: 5px 2px
                        cursor: pointer
                        position: relative

                    .health-icon
                        font-size: 14px
                        color: #737577
                        transition: all .3s ease-in

                        &.Bad
                            color: #d53f3f
                        &.Medium
                            color: #ece523
                        &.Good
                            color: #a3e147
                        &.Excellent
                            color: #2ad942

                    .magnet-icon
                        font-size: 13px
                        color: #DDD

                        &:hover
                            color: #FFF
                            transition: all .5s

                .sdoi-aired
                    font-size: 12px
                    line-height: 15px
                    margin-bottom: 10px
                    color: $ShowText2

                    .sdoi-date
                        overflow: hidden
                        white-space: nowrap
                        text-overflow: ellipsis

                .sdoi-synopsis
                    color: $ShowText1
                    font-size: 13px
                    line-height: 18px
                    text-align: justify
                    margin-top: 10px
                    padding: 2px 15px 5px 0
                    height: calc(100vh - 425px)
                    scrollable()

            .sdo-watch
                height: 60px
                padding: 10px 0

                .sdow-quality
                    margin-top: 24px
                    float: left

                    div
                        cursor: pointer
                        float: left
                        font-family: $MainFont;
                        -webkit-font-smoothing: antialiased;
                        font-size: 11px
                        color: $ShowText1
                        transition: all .2s ease-in

                    .q720
                        margin-left: 6px

                    .q1080
                        margin-left: 6px

                    .disabled
                        opacity: .3
                        cursor: default

                    .active
                        cursor: pointer
                        opacity: 1
                        color: $QualitySelector
                        font-family: $MainFontBold

                .sdow-watchnow
                    margin-top: 6px
                    float: right
                    cursor: pointer
                    padding: 0 15px
                    height: 35px
                    font-size: 12px
                    border-radius: $ButtonRadius
                    background-clip: padding-box
                    background-color: $ButtonBg
                    transition: background-color .5s
                    font-family: $ButtonFont
                    font-smoothing: antialiased
                    text-align: center
                    line-height: 34px
                    color: $ButtonText

                    &:hover
                        background-color: $ButtonBgHover
                        text-decoration: none

                    &:active
                        box-shadow: inset 0 1px 4px rgba(0,0,0,0.6)
                        background: $ButtonBgActive

        /* ugly rule to bypass restrictions */
        .sd-seasons[style*="display: none"] + .sd-episodes ul a div
            max-width: calc(60vw - 100px)