.torrent-collection-container
	height 100%
	width 100%
	position fixed
	background-color $BgColor1
	-webkit-user-select none
	opacity 1

	.margintop
		height 80px

	.content
		margin 0 auto
		width 80%
		height calc(100% - 100px)
		color $TextError
		font-weight 100
		font-family $AlternateFont
		font-size 17px

		.notorrents-info
			display block
			width 250px
			height 250px
			border 6px dashed $TextError
			border-radius 25px
			margin 0 auto
			margin-top 10%
			text-align center

			.notorrents-icon
				font-size 140px
				color $TextError
				padding-top 20px

			.notorrents-message
				font-family $MainFontBold
				font-size 20px

		.torrents-info
			display none
			margin 0 auto
			height 100%
			color $Text1
			font-family $AlternateFont
			font-size 17px
			text-align center
			box-shadow inset -3px 0px 10px $FileSelectorShadow
			scrollable()

			ul
				li.file-item
					border-bottom 1px solid rgba(255, 255, 255, 0.06)
					background $FileSelectorBg
					text-align left
					margin 2px
					cursor pointer
					color $FileSelectorText

					a
						color $FileSelectorText
						text-decoration blink
						width 100%
						display block
						padding 10px 0 10px 40px
						transition all 0.3s

						&:hover
							color $ButtonBgHover
						&:active
							color $ButtonBgActive

					.item-delete
						position absolute
						margin-top -26px
						right calc(10% - 20px)
						color: $TextError
						transition all 0.3s
						cursor pointer

						&:hover
							color $ButtonBgHover

					.item-icon
						pointer-events none
						position absolute
						margin-top -26px
						left calc(10% + 15px)
						width 20px
						height 20px
						font-family FontAwesome
						font-style normal
						font-size 15px
						color $FileSelectorText
						opacity 0.7

						&.torrent-icon:before
							content: '\f016'
						&.magnet-icon:before
							content: '\f076'