.about-container
    z-index 1
    height 100%
    width 100%
    position fixed
    background-color #17181b
    -webkit-user-select none
    opacity 1
    background-image url('../../images/bg-header.jpg')
    background-size cover
    background-position 50% 50%

    .icon-about
        margin-top 234px
        margin-left 50px
        position absolute

    .overlay-content
        height 100%
        width 100%
        position absolute
        background rgba(0, 0, 0, 0.6)
    .close
        top 85px
        right 20px
        position fixed
        float right
        width 16px
        height 16px
        background-image url('../../images/icons/Close.png')
        cursor pointer
        z-index 2
        opacity 1
        -webkit-backface-visibility hidden

    .content
        margin 180px 320px
        padding-top 55px
        width 50%
        height 60%
        color #fff
        font-weight 100
        font-family sans-serif
        font-size 17px

        .title-big
            font-size 2.4em
            position absolute

        .title-version
            position absolute
            margin-left 270px
            font-size 11px
            margin-top 25px

        .text-about
            margin-top 55px
            line-height 22px
            margin-bottom 20px
            position absolute
            width 60%
            
            .full-text
                height 90px

            .first-link
                margin-top 63px

        .last-line
            bottom 20px
            color #fff
            font-family sans-serif
            font-size 14px
            position absolute
