// Disable IE Vendor Patches
support-for-ie = false
// Only use Webkit vendor prefixes
vendor-prefixes = webkit official

@import 'nib'

global-reset()

TitleHeight = 30px
FilterBarHeight = 35px
HeaderHeight = 65px
MovieListPadding = calc(100% - 65px)

//THEME Fallback - in case a variable is missing in theme
BgColor1 = #17181b
BgColor2 = #212225
TextColor1 = #fff
TextColor2 = #c3c5c7
TextColor3 = #a3a5a7
TextColor4 = #5b5b5b
Font = 'Open Sans'
MainFont = 'Open Sans Semibold'
MainFontBold = 'Open Sans Bold'
AlternateFont = sans-serif
Button = #1f375f
ButtonHover = #225694
ButtonActive = #2468cc
ButtonInactive = #737577
ButtonInactiveHover = #223547
TextButton = #fff
FavoritesColor = #df2d37
LoadingColor1 = #2187e7
LoadingColor2 = rgba(0,183,229,0.9)
ScrollBarBg = #30333c
ScrollBarIndicator = #83888c
ScrollBarIndicatorHover = #93989c
InputBox = #393b3d
ErrorText = #727272
CloseButton = #a3a5a7
CloseButtonHover = #fff
IntroLogo = brightness(1)

//Load Themes
@require 'themes/light_official_theme'


fadeicon(image, posx, posx2, size)
  width: size
  height: size
  position: relative;
  &:before
    content: ""
    position: absolute
    top: 0; left: 0; bottom: 0; right: 0
    width: size
    height: size
    background-image: url(../images/icons/image.png)
    background-position: posx 0px
    background-repeat: no-repeat
    opacity: 1
    -webkit-transition: opacity 0.5s
  &:after
    content: ""
    position: absolute
    top: 0; left: 0; bottom: 0; right: 0
    width: size
    height: size
    background-image: url(../images/icons/image.png)
    background-position: posx2 0px
    background-repeat: no-repeat
    opacity: 0
    -webkit-transition: opacity 0.5s
  &:hover:before
    opacity: 0;
  &:hover:after
    opacity: 1;

@import 'fonts'
@import 'misc'
@import 'bootstrap-theme'

@import 'player'

@import 'main_window'
@import 'title_bar'
@import 'filter_bar'

@import 'movie_browser/movie_list'
@import 'movie_browser/movie_item'
@import 'movie_detail'
@import 'show_detail'

@import 'show_browser/show_list'
@import 'favorite_browser/favorite_list'

@import 'about'
@import 'help'
@import 'file_selector'

@import 'settings'
@import 'loading'
@import 'notification'

@import 'themes/dark_official_theme'