@import 'nib'

global-reset()

TitleHeight = 30px
FilterBarHeight = 35px
HeaderHeight = 65px
MovieListPadding = calc(100% - 65px)

BackgroundColor = #17181b
TextColor = #c3c5c7
SecondaryTextColor = #a3a5a7

HoverBackgroundColor = #0b131f
HoverTextColor = white

@import 'fonts'
@import 'misc'
@import 'bootstrap-theme'

@import 'player'

@import 'main_window'
@import 'title_bar'
@import 'filter_bar'

@import 'movie_browser/movie_list'
@import 'movie_browser/movie_item'
@import 'movie_detail'
@import 'show_detail'

@import 'show_browser/show_list'
@import 'favorite_browser/favorite_list'

@import 'about'

@import 'settings'
@import 'loading'
@import 'notification'
