@import 'nib'

global-reset()

TitleHeight = 30px
FilterBarHeight = 35px
HeaderHeight = 65px
MovieListPadding = calc(100% - 65px)

BackgroundColor = #1b232f
TextColor = #c3c5c7

HoverBackgroundColor = #0b131f
HoverTextColor = white

@import 'fonts'
@import 'misc'
@import 'bootstrap-theme'

@import 'main_window'
@import 'title_bar'

@import 'movie_browser/filter_bar'
@import 'movie_browser/movie_list'
@import 'movie_browser/movie_item'