ul.nav-hor > li
    float: left

.dropdown-menu
    background-color: BackgroundColor

    & > li > a
        transition: all 0.2s
        color: TextColor

        &:focus,
        &:hover
            color: HoverTextColor
            background-color: HoverBackgroundColor
            background-image: none