.nav
    font-size: 0.8em

.header_icon
    font-size: 20px
    color: TextColor3 //add onhover color of #2468cc later

ul.nav-hor > li
    float: left

.dropdown-menu
    background-color: BgColor1

    & > li > a
        transition: all 0.2s
        color: TextColor2

        &.active
            color: TextColor1
            background-color: BgColor2
            background-image: none
            border-left: 4px solid ButtonInactive

        &:focus,
        &:hover
            color: TextColor1
            background-color: BgColor2
            background-image: none
            border-left: 4px solid ButtonActive