.file-selector-container
    z-index 100
    height 100%
    width 100%
    position fixed
    background-color BgColor1
    -webkit-user-select none
    opacity 1
    background-position 50% 50%

    .title
        font-size 20px
        padding 0 0 20px
        margin-top 100px
        color TextColor1
        font-family MainFontBold
        text-align center

    .content
        margin 0 auto
        width 66%
        height 60%
        color TextColor1
        font-family MainFont
        font-size 14px
        text-align center
        box-shadow inset -3px 0px 10px rgba(0, 0, 0, 0.67)
        scrollable()

        ul
            li.file-item
                border-bottom 1px solid rgba(255, 255, 255, 0.06)
                background BgColor2
                text-align left
                margin 2px
                cursor pointer
                color TextColor2

                a
                    color TextColor2
                    text-decoration blink
                    width 100%
                    display block
                    padding 10px 0 10px 40px
                    transition all 0.3s

                    &:hover
                        color ButtonHover
                    &:active
                        color ButtonActive