// OFFICIAL POPCORN-THEME: FLAT2

//Fonts
    Font = 'Open Sans'
    MainFont = 'Open Sans Semibold'
    MainFontBold = 'Open Sans Bold'
    AlternateFont = sans-serif    
    ButtonFont = 'Open Sans Semibold'

//Main app
    BgColor1 = #fff
    BgColor2 = #eff0f2

    TextColor1 = #34495e
    TextColor2 = #d9d9d9
    TextColor3 = rgba(#34495e,.8)
    TextColor4 = rgba(#34495e,.8)
    ErrorText = rgba(#2c3e50,.8)

    CloseButton = #e74c3c
    CloseButtonHover = #c0392b
    
    LoadingColor1 = rgba(#fff,.3)
    LoadingColor2 = #1ABC9C

    ScrollBarBg = #ebedef
    ScrollBarIndicator = #1abc9c
    ScrollBarIndicatorHover = #16a085

//Top Bar
    TitleBarColor = #34495e
    TitleBarText = #fff
    FullScreenBtn = #16a085
    FullScreenBtnHover = #1abc9c

    NavBarColor = #34495e
    NavBarText = #fff
    NavBarTextHover = #1abc8e
    NavBarActive = #16a085

    SearchBox = #fff

    DropDownColor = #34495e
    DropDownColor2 = #1ABC9C
    DropDownText = #fff
    DropDownText2 = #e1e4e7
    DropDownOpacity = 1.00

    IconColor = #fff
    IconColorHover = #1ABC9C
    
    TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, 0)

//Buttons
    Button = #1ABC9C
    ButtonHover = #48c9b0
    ButtonActive = #16a085
    
    ButtonInactive = #d1d5d8
    ButtonInactiveHover = #d1d5d8
    
    TextButton = #fff
    TextButtonHover = #fff
    
    ButtonRadius = 6px

//Posters
    PosterRadius = 0px
    PosterBorder = #1ABC9C
    PosterOverlay = rgba(#34495e, 0.5)
    PosterShadow = 0px 0px 1px

//TV Series
    ShowBgColor1 = #fff
    ShowBgColor2 = #eff0f2

    EpisodeDetails = #fff
    
    ShowTextColor1 = #34495e
    ShowTextColor2 = #7f8c8d

    SeasonListColor = #34495e
    EpisodeListColor = #34495e
    
    ShowSelector = rgba(#003366,0.6)
    ShowSelectorText = #fff

//Settings
    SettingsCategories = #16a085
    SettingsSeparator = #2c3e50

    InputBox = #34495e
    InputBoxText = #e1e4e7
    
    SettingsTextColor1 = #34495e
    SettingsTextColor2 = #999

    SettingsTextButton = #fff
    SettingsTextButtonHover = #fff

//Misc
    FavoritesColor = #e74c3c

    PngLogo = brightness(1.00)


// OFFICIAL POPCORN-THEME: FLAT - END






@import 'views/app' 