@font-face
    font-family: 'Open Sans'
    src: url(../fonts/OpenSans-Regular-webfont.woff)
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Open Sans Bold'
    src: url(../fonts/OpenSans-Bold-webfont.woff)
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Open Sans Semibold'
    src: url(../fonts/OpenSans-Semibold-webfont.woff)
    font-weight: normal
    font-style: normal