// POPCORN-THEME: Kittens Red by @GHOSTBEAR

//Fonts
    $Font = 'Open Sans'
    $MainFont = 'Open Sans Semibold'
    $MainFontBold = 'Open Sans Bold'
    $AlternateFont = sans-serif
    $ButtonFont = 'Open Sans Semibold'

//Main app
    $BgColor1 = #CEF4F7
    $BgColor2 = #CEF4F7

    $Text1 = #0b0b0b
    $Text2 = #373737
    $Text3 = #515151
    $Text4 = #6b6b6b
    $TextError = #3d3d3d

    $CloseButton = #0095A6
    $CloseButtonHover = #00D9D9

    $SpinnerColor1 = #00485B
    $SpinnerColor2 = rgba(0, 72, 91, 0.9)

    $ScrollBarBg = #CEF4F7
    $ScrollBarThumb = #A3CEDA
    $ScrollBarThumbHover = #00D9D9

//Top Bar
    $TitleBarBg = #00485B
    $TitleBarText = #fff
    $FullScreenButton = #fff
    $FullScreenButtonHover = #00D9D9

    $FilterBarBg = #00485B
    $FilterBarText = #fff
    $FilterBarTextHover = #00D9D9
    $FilterBarActive = #00D9D9

    $SearchBoxBg = #0095A6

    $DropDownBg = #00485B
    $DropDownBgHover = #00D9D9
    $DropDownTextHover = #fff
    $DropDownText = #fff
    $DropDownOpacity = 0.95

    $FilterBarIcon = #fff
    $FilterBarIconHover = #00D9D9

    $TopBarShadow = none

//$ButtonBg
    $ButtonBg = #00485B
    $ButtonBgHover = #0095A6
    $ButtonBgActive = #0095A6

    $ButtonBgDisabled = #fff
    $ButtonBgDisabled = #fff

    $ButtonText = #fff
    $ButtonTextHover = #fff

    $ButtonRadius = 3px

//Posters
    $PosterRadius = 0px
    $PosterHoverBorder = #00D9D9
    $PosterHoverOverlay = rgba(23, 24, 27, 0.6)
    $PosterShadow = 0px 0px 2px

//TV Series
    $ShowBgColor1 = #CEF4F7
    $ShowBgColor2 = #c2f3f7

    $EpisodeDetailsBg = #CEF4F7

    $ShowText1 = #0095A6
    $ShowText2 = #0095A6

    $SaisonListText = #0095A6
    $EpisodeListText = #0095A6

    $EpisodeSelectorBg = #00485B
	$EpisodeSelectorHover = #00D9D9
    $EpisodeSelectorText = #fff

	$ShowWatchedIcon_false = rgba(#000,0.5)
	$ShowWatchedIcon_hover = rgba(#000,0.8)
	$ShowWatchedIcon_true = #000

//File selector
	$FileSelectorText = #fff
	$FileSelectorBg = rgba(255, 255, 255, 0.05)
	$FileSelectorShadow = rgba(0, 0, 0, 0.67)

//Settings
    $SettingsCategoriesText = #0095A6
    $SettingsSeparator = #A3CEDA

    $InputBoxBg = #00485B
    $InputBoxText = #fff

    $SettingsText1 = #0095A6
    $SettingsText2 = #0095A6

    $SettingsButtonText = #fff
    $SettingsButtonTextHover = #fff

//Misc
    $PngLogo = brightness(1.00)

    $FavoriteColor = #006683

//Player
	$PlayerColor = #00485B



// POPCORN-THEME: Cool Scandinavian by @GHOSTBEAR - END

@import 'views/app'
