// POPCORN-THEME: Kittens White theme by @GHOSTBEAR

//Fonts
    $Font = 'Open Sans'
    $MainFont = 'Open Sans Semibold'
    $MainFontBold = 'Open Sans Bold'
    $AlternateFont = sans-serif
    $ButtonFont = 'Open Sans Semibold'

//Main app
    $BgColor1 = #fff
    $BgColor2 = #fff

    $Text1 = #0b0b0b
    $Text2 = #373737
    $Text3 = #515151
    $Text4 = #6b6b6b
    $TextError = #3d3d3d

    $CloseButton = #b8b8b8
    $CloseButtonHover = #ecc9a9

    $SpinnerColor1 = #fdad19
    $SpinnerColor2 = rgba(255, 165, 0, 0.85)

    $ScrollBarBg = #fff
    $ScrollBarThumb =  #eabe84
    $ScrollBarThumbHover = #c7994c

//Top Bar
    $TitleBarBg = #fff
    $TitleBarText = #0b0b0b
    $FullScreenButton = #d9d9d9
    $FullScreenButtonHover = #bababa

    $FilterBarBg = #fff
    $FilterBarText = #3c3c3c
    $FilterBarTextHover = #0b0b0b
    $FilterBarActive = #FFA500

    $SearchBoxBg = #efefef

    $DropDownBg = #fff
    $DropDownBgHover = rgba(236, 201, 169, 0.4)
    $DropDownTextHover = #00
    $DropDownText = #525252
    $DropDownOpacity = 0.95

    $FilterBarIcon = #3c3c3c
    $FilterBarIconHover = #FFA500
	$FilterBarIcon-PosterWidth = #FFA500

    $TopBarShadow = 0px 2px 4px -4px rgba(0, 0, 0, 0.7);

//Buttons
    $ButtonBg = #ffae19
    $ButtonBgHover = #ffb937
    $ButtonBgActive = #ffc353

    $ButtonBgDisabled = #1aa015
    $ButtonBgDisabled = #199f13

    $ButtonText = #fff
    $ButtonTextHover = #fff

    $ButtonRadius = 3px

//Posters
    $PosterRadius = 4px
    $PosterHoverBorder = #f0ac2e
    $PosterHoverOverlay = rgba(23, 24, 27, 0.6)
    $PosterShadow = 0px 0px 4px

//TV Series
    $ShowBgColor1 = $BgColor1
    $ShowBgColor2 = $BgColor2

    $EpisodeDetailsBg = $BgColor1

    $ShowText1 = $Text1
    $ShowText2 = $Text2

    $SaisonListText = #0b0b0b
    $EpisodeListText = $Text2

    $EpisodeSelectorBg = #fdab15
	$EpisodeSelectorHover = darken($ShowBgColor2,15%)
    $EpisodeSelectorText = $ButtonText

	$ShowWatchedIcon_false = rgba(#3c3c3c,0.3)
	$ShowWatchedIcon_hover = rgba(#3c3c3c,0.7)
	$ShowWatchedIcon_true = rgba(#3c3c3c,0.95)

//File selector
	$FileSelectorText = #3c3c3c
	$FileSelectorBg = rgba(0,0,0, 0.07)
	$FileSelectorShadow = rgba(0, 0, 0, 0.67)

//Settings
    $SettingsCategoriesText = #ffa80a
    $SettingsSeparator = #b7b7b7

    $InputBoxBg = #e5e5e5
    $InputBoxText = #3c3c3c

    $SettingsText1 = $Text1
    $SettingsText2 = $Text4

    $SettingsButtonText = $ButtonText
    $SettingsButtonTextHover = $ButtonText

//Misc
    $FavoriteColor = #ffa80a

    $PngLogo = brightness(0.30)


// POPCORN-THEME: Kittens White theme by @GHOSTBEAR

@import 'views/app'
