.loading-container
	display block
	width 50px
	height 50px

	.ball
		background-color rgba(0,0,0,0)
		border 5px solid rgba(0,183,229,0.9)
		opacity .9
		border-top 5px solid rgba(0,0,0,0)
		border-left 5px solid rgba(0,0,0,0)
		border-radius 50px
		box-shadow 0 0 35px #2187e7
		width 50px
		height 50px
		margin 0 auto
		-moz-animation spin .5s infinite linear
		-webkit-animation spin .5s infinite linear

	.ball1
		background-color rgba(0,0,0,0)
		border 5px solid rgba(0,183,229,0.9)
		opacity .9
		border-top 5px solid rgba(0,0,0,0)
		border-left 5px solid rgba(0,0,0,0)
		border-radius 50px
		box-shadow 0 0 15px #2187e7
		width 30px
		height 30px
		margin-top 10px
		margin-left 10px
		position relative
		top -50px
		-moz-animation spinoff .5s infinite linear
		-webkit-animation spinoff .5s infinite linear
