html,
body,
.main-window-region
    height: 100%

#main-window
    width: 100%;
    height: 100%;
    background-color: #1b232f;
    box-shadow: 0 0 40px rgba(0, 0, 0, .75);
    margin-left: auto;
    margin-right: auto;

    font-family: "Open Sans Semibold", "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;

    cursor: default

    button
        background-color: transparent;
        border: none;
        cursor: pointer
        outline: none

    #content
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;