.movie-detail
    z-index: 10
    width: 819px
    height: 420px
    position: absolute
    -webkit-user-select: none   
    opacity: 1
    overflow: hidden
    margin: auto
    left: 0
    right: 0
    top: 16%

    .detail-window

	    .movie-quick-info
	    	margin-bottom: 5px
	    	color: #fff

  .movie-meta-details
    margin-left 4px
    margin-top 20px
    position relative
    float left
    color #fff
    font-family: 'Open Sans Bold'
    -webkit-font-smoothing: antialiased;
    font-size 11px
    cursor default
    z-index 2

  .movie-dot
    margin-left 15px
    margin-right 15px
    margin-top 26px
    position relative
    float left
    width 3px
    height 3px
    -moz-border-radius 2px
    -webkit-border-radius 2px
    border-radius 2px
    -moz-background-clip padding
    -webkit-background-clip padding-box
    background-clip padding-box
    background-color #dbdbdd
    cursor default
    z-index 2


  .movie-cover-image
    position relative
    width 196px
    height 292px
    border-radius 4px
    float left
    margin-right 20px
    margin-left 66px
    z-index 2

.movie-meta-overview
    margin-left 285px
    margin-top 45px
    position fixed
    color #fff
    font-family: 'Open Sans Semibold'
    -webkit-font-smoothing: antialiased;
    font-size 12px
    line-height 22px
    width 442px
    max-width 442px
    height 144px
    z-index 2

.movie-detail-close
    top 13px
    right 13px
    position absolute
    float right
    width 14px
    height 14px
    background-image: url(../../images/icons/Close.png);
    cursor pointer
    z-index 2

.movie-meta-title
    margin-left 285px
    margin-top 50px
    color #fff
    font-family: 'Open Sans Semibold'
    -webkit-font-smoothing: antialiased;
    font-size 38px
    position relative
    cursor default
    z-index 2

.health-icon
    z-index 2
    margin-right 89px
    margin-top 113px
    position relative
    float right
    width 12px
    height 17px
    &.Bad
      background-image url('../../images/icons/HealthBad.png')
    &.Medium
      background-image url('../../images/icons/HealthMedium.png')
    &.Good
      background-image url('../../images/icons/HealthGood.png')
    &.Excellent
      background-image url('../../images/icons/HealthExcellent.png')

.movie-btn-watch
    z-index 2
    margin-left 285px
    margin-top 214px
    position fixed
    float left
    cursor pointer
    width 87px
    height 35px
    -moz-border-radius 3px
    -webkit-border-radius 3px
    border-radius 3px
    -moz-background-clip padding
    -webkit-background-clip padding-box
    background-clip padding-box
    background-color #458de3
    .movie-watch-now
      color #fff
      font-family: "Open Sans Semibold", "Open Sans", sans-serif;
      -webkit-font-smoothing: antialiased;
      text-align center
      margin-top 12px
      font-size 12px

.movie-backdrop
    width 819px
    height 420px
    position absolute
    top -34px
    z-index 0
    background-repeat no-repeat
    background-position center
    -webkit-filter blur(10px)
    overflow hidden

.movie-backdrop-overlay
    width 819px
    height 420px
    position absolute
    top -34px
    z-index 1
    opacity .7
    /* layer alpha */
    background-color #000
    /* layer fill content */
    z-index: 2