body.has-notification
	padding-top 40px
	overflow hidden

	#notification
		z-index 10
		position absolute
		top TitleHeight
		height 40px
		-webkit-user-select none   
		opacity 1
		overflow hidden
		margin auto
		left 0
		right 0
		opacity 1
		z-index 1
		font-size 13px
		font-weight bold
		line-height 27px
		padding 9px 15px
		background #dbb756
		color #fff
		border 1px solid #000
		border-top none

		.btn-grp 
			position absolute
			top 3px
			right 15px

		.btn
			background-image none
			background rgba(0, 0, 0, 0.4)
			color #fff

			&:hover
				color #000

		.btn.chnglog 
			margin-right 5px

	#notification h1
		float left
		padding 0px 15px 0 0px
		font-size 20px

	#notification p
		font-weight 100
		line-height: normal;

	#notification.blue 
		background #3498DB !important

	#notification.green
		background #27AE60 !important

	#notification.yellow 
		background #dbb756 !important

	#notification.orange 
		background #f07f53 !important

	#notification.red 
		background #f15153 !important
