// OFFICIAL POPCORN-THEME: HIGH CONTRAST

//Color variables: Black & Purple





    Black = #070707
    PurpleL = #81007F //made these all the same for now
    PurpleM = #81007F
    PurpleD = #81007F
    PurpleD2 = #81007F

//Fonts
    $Font = 'Open Sans'
    $MainFont = 'Open Sans Semibold'
    $MainFontBold = 'Open Sans Bold'
    $AlternateFont = sans-serif
    $ButtonFont = 'Open Sans Semibold'


//Main app
    $BgColor1 = Black
    $BgColor2 = lighten(Black,5%)

    $Text1 = #fff
    $Text2 = #000
    $Text3 = #fff
    $Text4 = #fff
    $TextError = #ff0000 //trying red out










    $CloseButton = #fff
    $CloseButtonHover = PurpleL

    $SpinnerColor1 = PurpleD2
    $SpinnerColor2 = PurpleD

    $ScrollBarBg = Black
    $ScrollBarThumb = PurpleD2
    $ScrollBarThumbHover = PurpleD

//Top Bar
    $TitleBarBg = Black
    $TitleBarText = #fff
    $FullScreenButton = #fff
    $FullScreenButtonHover = PurpleL

    $FilterBarBg = Black
    $FilterBarText = #fff
    $FilterBarTextHover = #fff
    $FilterBarActive = PurpleL



    $SearchBoxBg = PurpleL //white text on purple or purple on white?

    $DropDownBg = Black
    $DropDownBgHover = PurpleL
    $DropDownTextHover = #fff
    $DropDownText = #fff
    $DropDownOpacity = 1





    $FilterBarIcon = #000
    $FilterBarIconHover = PurpleD
    $FilterBarIcon-PosterWidth = PurpleL
//	Shadows and high contrast don't mix.
//  $TopBarShadow = 0px 6px 8px -4px rgba(0, 0, 0, .9);

//Buttons
    $ButtonBg = PurpleL
    $ButtonBgHover = PurpleM
    $ButtonBgActive = PurpleD

    $ButtonBgDisabled = #ff0000 //who knows

    $ButtonBgOk = PurpleL
    $ButtonBgWarning = #ff0000

    $ButtonText = #fff
    $ButtonTextHover = #fff


    $ButtonRadius = 3px

//Checkbox
    $CheckboxBg = #fff
    $CheckboxCheck = PurpleD


//Posters
    $PosterRadius = 4px
    $PosterHoverBorder = $ButtonBgActive
//  $PosterHoverOverlay = rgba(23, 24, 27, 0.6)
//  $PosterShadow = 0px 0px 10px

//TV Series
    $ShowBgColor1 = $BgColor1
    $ShowBgColor2 = $BgColor2

    $EpisodeDetailsBg = $BgColor1


    $ShowText1 = $Text1
    $ShowText2 = $Text2

    $SaisonListText = $Text1
    $EpisodeListText = $Text2

    $EpisodeSelectorBg = darken(PurpleD2,2%)
    $EpisodeSelectorHover = PurpleL
    $EpisodeSelectorText = $ButtonText

    $ShowWatchedIcon_false = rgba(#fff,0.2)
    $ShowWatchedIcon_hover = rgba(#fff,0.4)
    $ShowWatchedIcon_true = #fff

    $QualitySelectorBg = $ButtonBg
    $QualitySelectorText = $ButtonText

//File selector
    $FileSelectorText = #fff
    $FileSelectorBg = rgba(255, 255, 255, 0.05)
//  $FileSelectorShadow = rgba(0, 0, 0, 0.67)

//Settings
    $SettingsCategoriesText = #fff
    $SettingsSeparator = PurpleL




    $InputBoxBg = #fff
    $InputBoxText = $Text2

    $SettingsText1 = $Text3
    $SettingsText2 = $Text3

    $SettingsButtonText = $ButtonText
    $SettingsButtonTextHover = $ButtonText



// Notifications
    $NotificationText = #fff
    $NotificationInfo = #0000ff
	$NotificationSuccess = #00ff00
    $NotificationWarning = #ffff00
    $NotificationOrange = #ffa500
    $NotificationError = #ff0000
    $NotificationBorderColor = #000

    $NotificationBtn = #000
    $NotificationBtnText = #fff

    $NotifAlertBg = #000
    $NotifAlertText = #fff

//Misc
    $FavoriteColor = #ff0000
    $WarningColor = #ffff00
	$PngLogo = brightness(1.0)
    $PngLogo_BgColo1 = brightness(1.0)

//Player
    $PlayerColor = PurpleL



// OFFICIAL POPCORN-THEME: BLACK AND Purple - END

@import 'views/app'