.loading
    position: absolute
    background-color: #000
    -webkit-user-select: none
    width 90%
    height 74.5%
    position absolute
    -webkit-user-select none   
    opacity 1
    overflow hidden
    margin auto
    left 0
    right 0
    top 16%
    max-width 931px
    max-height 479px
    opacity 1
    -webkit-backface-visibility hidden


    .state
        color #fff
        font-family 'Open Sans Semibold'
        -webkit-font-smoothing antialiased
        text-align center
        width 40%
        z-index 11
        margin auto
        left 0
        right 0
        -webkit-backface-visibility hidden


        position: relative
        top: 35%

        .value
            color #fff
            font-family 'Open Sans Semibold'
            -webkit-font-smoothing antialiased

.text_peers
    position relative
    color #fff
    font-family 'Open Sans Semibold'
    -webkit-font-smoothing antialiased  
    float left
    font-size 12px
    margin-left 5px

.value_peers
    position relative
    color #fff
    font-size 12px
    font-family 'Open Sans Semibold'
    -webkit-font-smoothing antialiased  
    float left


.value_download
    display none
    position relative
    color #fff
    font-size 12px
    font-family 'Open Sans Semibold'
    -webkit-font-smoothing antialiased  
    float left
    margin-left 10px

.download_speed
    position relative
    color #fff
    font-size 12px
    font-family 'Open Sans Semibold'
    -webkit-font-smoothing antialiased  
    float left
    margin-left 5px
.loading-backround
    position: absolute
    width: 100%
    height: 100%
    background-repeat no-repeat
    background-position center
    -webkit-filter blur(3px)
    background-size 100% 100%

.loading-backround-overlay
    width 100%
    height 100%
    position absolute
    opacity .7
    background-color #000

.download_percent
    position relative
    color #fff
    font-size 12px
    font-family 'Open Sans Semibold'
    -webkit-font-smoothing antialiased  
    float right

.loading-cancel
    top 40px
    z-index 2
    position relative
    cursor pointer
    width 87px
    height 35px
    margin auto
    left 0
    right 0
    -moz-border-radius 3px
    -webkit-border-radius 3px
    border-radius 3px
    -moz-background-clip padding
    -webkit-background-clip padding-box
    background-clip padding-box
    background-color #458de3
    -webkit-backface-visibility hidden

    .loading-cancel-text
        -webkit-backface-visibility hidden
        position absolute
        color #fff
        font-family "Open Sans Semibold", "Open Sans", sans-serif
        -webkit-font-smoothing antialiased
        text-align center
        top 12px
        font-size 12px
        margin-left 23px

.loading-progressbar
  position relative
  margin-bottom 10px
  margin-top 10px
  background-color #bababa
  border-radius 13px
  padding 3px
  & > div
    background-color #2d75df
    width 0%
    height 5px
    border-radius 10px

#player,
.player
    width: 100%
    height: 100%

.player
    z-index: 10
    position: absolute;
    overflow: hidden;
    background-color: black

    video
        width: 100%
        height: 100%