.loading
    width: 100%
    height: 100%
    margin-top: 40px

    background-color: rgba(0,0,0,0.5)
    -webkit-user-select: none


    .state
        color: TextColor
        font-size: 1.1em
        text-align: center
        width: 100%

        position: absolute
        top: 50%

        .value
            color: SecondaryTextColor
            font-size: 0.8em

#player,
.player
    width: 100%
    height: 100%

.player
    z-index: 10
    position: absolute;
    overflow: hidden;
    background-color: black

    video
        width: 100%
        height: 100%