.rating-star {
    z-index: 2
    margin-right: 3px
    position: relative
    display: inline-block
    width: 11px
    height: 11px
    background-image: url("../images/icons/stars.png")
    background-repeat: no-repeat
    backface-visibility: hidden
    &.null {
        background-position: 0px 0px
    }
    &.half {
        background-position: -11px 0px
    }
    &.full {
        background-position: -22px 0px
    }
}

.tv-rating-star
  position relative
  z-index 2
  width 11px
  height 11px
  opacity 1
  background-image url('../images/icons/stars.png')
  background-repeat no-repeat

  &.null
    background-position: 0px 0px;
  &.half
    background-position: -11px 0px;
  &.full
    background-position: -22px 0px;
