.settings-container-contain
    background-color #17181b
    height 100%
    width 100%
    position fixed
    scrollable()
    padding-top: 40px
    &::-webkit-scrollbar-track
        margin-top: 40px

.settings-container
    z-index 1
    width 100%
    height 850px
    position absolute
    background-color #17181b
    -webkit-user-select none
    opacity 1





.settings-container-close
    top 55px
    right 20px
    position fixed
    float right
    width 16px
    height 16px
    background-image url('../../images/icons/Close.png')
    cursor pointer
    z-index 2
    opacity 1
    -webkit-backface-visibility hidden


.settings-container-title
  position relative
  float right
  color #fff
  font-family "Open Sans", sans-serif
  font-size 22px

.settings-container-sidebar
  float left
  position relative
  margin-left 47px
  padding-right 30px
  width 171px
  top 14px
  bottom 14px
  border-right solid #3a3b3e 1px

.settings-container-sidebar-subtitles-options
  position relative
  float right
  margin-top 40px
  color #2d75df
  -webkit-font-smoothing antialiased
  font-family "Open Sans", sans-serif
  font-size 17px

.settings-container-sidebar-UI-options
  position relative
  float right
  margin-top 184px
  color #2d75df
  font-family "Open Sans", sans-serif
  font-size 17px

.settings-container-sidebar-more-options
  position relative
  float right
  margin-top 170px
  color #2d75df
  font-family "Open Sans", sans-serif
  font-size 17px

/*
.settings-container-sidebar-download-options
  position relative
  float right
  margin-top 40px
  color #2d75df
  -webkit-font-smoothing antialiased
  font-family "Open Sans", sans-serif
  font-size 17px

.settings-container-sidebar-subtitles-options
  position relative
  float right
  margin-top 184px
  color #2d75df
  font-family "Open Sans", sans-serif
  font-size 17px

.settings-container-sidebar-UI-options
  position relative
  float right
  margin-top 170px
  color #2d75df
  font-family "Open Sans", sans-serif
  font-size 17px

.settings-container-sidebar-more-options
  position relative
  float right
  margin-top 162px
  color #2d75df
  font-family "Open Sans", sans-serif
  font-size 17px
*/

.settings-container-download-TV-API
  position relative
  margin-top 5px
  color #c3c5c7
  font-family "Open Sans", sans-serif
  font-size 16px
  float left

.settings-container-api-location
  //margin-top 13px
  float left
  position relative
  margin-left 10px
  padding-right 10px
  height 29px
  border 0px solid #393b3d
  background-color #393b3d
  resize none
  color #c3c5c7
  font-family "Open Sans", sans-serif
  font-size 13px
  line-height 25px
  padding-left 10px
  cursor text
  outline 0

.settings-container-settings-content
  float left
  position relative
  margin-left 32px
  top 14px
  height calc(100% - 13px)
  width calc(100% - 253px)

.settings-container-download-btn
  position relative
  margin-top 13px
  float left
  width 70px
  height 29px
  background-color #2d75df
  text-align center
  color #c3c5c7
  font-family "Open Sans", sans-serif
  font-size 13px
  line-height 28px
  cursor pointer
  &:hover
    background #2d82ff
    background-image -webkit-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -moz-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -ms-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -o-linear-gradient(top, #2d82ff, #2d82ff)
    background-image linear-gradient(to bottom, #2d82ff, #2d82ff)
    text-decoration none

.rebuild-tvshows-database
  position relative
  margin-top 13px
  float left
  padding-left: 10px
  padding-right: 10px
  height 29px
  background-color #2d75df
  text-align center
  color #c3c5c7
  font-family "Open Sans", sans-serif
  font-size 13px
  line-height 28px
  cursor pointer
  &:hover
    background #2d82ff
    background-image -webkit-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -moz-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -ms-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -o-linear-gradient(top, #2d82ff, #2d82ff)
    background-image linear-gradient(to bottom, #2d82ff, #2d82ff)
    text-decoration none

.flush-bookmarks
  position relative
  margin-top 13px
  float left
  margin-left: 30px
  padding-left: 10px
  padding-right: 10px
  height 29px
  background-color #2d75df
  text-align center
  color #c3c5c7
  font-family "Open Sans", sans-serif
  font-size 13px
  line-height 28px
  cursor pointer
  &:hover
    background #2d82ff
    background-image -webkit-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -moz-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -ms-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -o-linear-gradient(top, #2d82ff, #2d82ff)
    background-image linear-gradient(to bottom, #2d82ff, #2d82ff)
    text-decoration none

.flush-databases
  position relative
  margin-top 13px
  margin-left: 30px
  float left
  padding-left: 10px
  padding-right: 10px
  height 29px
  background-color #2d75df
  text-align center
  color #c3c5c7
  font-family "Open Sans", sans-serif
  font-size 13px
  line-height 28px
  cursor pointer
  &:hover
    background #2d82ff
    background-image -webkit-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -moz-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -ms-linear-gradient(top, #2d82ff, #2d82ff)
    background-image -o-linear-gradient(top, #2d82ff, #2d82ff)
    background-image linear-gradient(to bottom, #2d82ff, #2d82ff)
    text-decoration none

.settings-container-checkbox-label
  color #c3c5c7
  position relative
  font-family "Open Sans", sans-serif
  font-size 13px
  margin-top 0px
  margin-left 0px
  float left

input[type=checkbox]
  visibility hidden

.settings-container-check-settings
  width 14px
  height 14px
  margin-top 59px
  position relative
  label
    cursor pointer
    position absolute
    top 0
    width 14px
    height 14px
    -moz-border-radius 3px
    -webkit-border-radius 3px
    border-radius 3px
    -moz-background-clip padding
    -webkit-background-clip padding-box
    background-clip padding-box
    background-color #393b3d

    &:after
      opacity 0
      content ''
      position absolute
      width 10px
      height 6px
      background transparent
      top 2px
      left 2px
      border 3px solid #2d75df
      border-top none
      border-right none
      -webkit-transform rotate(-45deg)
      -moz-transform rotate(-45deg)
      -o-transform rotate(-45deg)
      -ms-transform rotate(-45deg)
      transform rotate(-45deg)
  input[type=checkbox]:checked
    & + label
      &:after
        opacity 1

.checkbox-text
  font-family "Open Sans", sans-serif
  color #c3c5c7
  font-size 13px
  margin-left 20px
  width 400px


.dropdown
  select
    margin-left 5px
    position relative
    padding-left 5px
    border 0 !important
    -webkit-appearance none
    //width 87px
    height 30px
    background-color #393b3d
    cursor pointer
    color #c3c5c7
    font-family "Open Sans", sans-serif
    font-size 13px
    float left
    outline 0
    //padding-right 10px

    &.subtitles-size
      padding-right 10px

  option
    background #393b3d
    border 0 !important
    outline 0
  p
    color #c3c5c7
    font-family "Open Sans", sans-serif
    font-size 13px
    float left
    margin-top 9px
  &.download-limit
    top 24px
  &.upload-limit
    top 24px
    left 31px
  &.local-port
    top 24px
    left 65px
    float left
  &.subtitles-language
    top 0px
  &.subtitles-language-defualt
    top 0px
    left 30px
  &.subtitles-font
    top 50px
    left -386px

  &.subtitles-style
    top 50px
    left -356px

  &.subtitles-size
    top 50px
    left -326px

  &.subtitles-color
    top 50px
    left -296px

.settings-seperater
  position relative

  &.subtitles
    margin-top 60px

  &.other-options
    margin-top 450px


.dropdown-arrow
  width 0
  height 0
  border-left 4px solid transparent
  border-right 4px solid transparent
  border-top 5px solid #c4c6c8
  top 13px
  margin-left -13px
  position relative
  float left
  cursor pointer

.port-text
  top 1px
  left 5px
  position relative
  width 56px
  height 29px
  border 0px solid #393b3d
  background-color #393b3d
  resize none
  color #c3c5c7
  font-family "Open Sans", sans-serif
  font-size 13px
  line-height 25px
  padding-left 13px
  cursor text
  outline 0

.success_alert
  position fixed
  top 75px
  right 50px
  color #fff
  font-family "Open Sans Semibold", sans-serif
  font-size 16px

#checkmark-notify
  display inline-block
  width 20px
  height 20px
  -ms-transform rotate(45deg)
  -webkit-transform rotate(45deg)
  transform rotate(45deg)

#stem-notify
  position absolute
  width 3px
  height 12px
  background-color #ccc
  left 11px
  top 6px

#kick-notify
  position absolute
  width 6px
  height 3px
  background-color #ccc
  left 6px
  top 15px

