.shows-container-contain
    background-color #17181b
    height 100%
    width 100%
    position fixed
    scrollable()
    padding-top: 40px
    &::-webkit-scrollbar-track
        margin-top: 40px

.season-ep-bar
    width 1px
    height 100%
    position absolute
    background-color #3a3b3e
    z-index 4
    left 200px

.tv-meta-data
    height 100%
    width 100%
    position absolute

.tv-container-close
    top 55px
    right 20px
    position fixed
    float right
    width 16px
    height 16px
    background-image url('../../images/icons/Close.png')
    cursor pointer
    opacity 1
    -webkit-backface-visibility hidden
    z-index 4

.tv-poster
    position fixed
    width 100%
    height 273px
    top 0
    padding-top 40px
    z-index 3
    overflow hidden
    background #17181b


.tv-poster-background 
  position absolute
  width 100%
  height 237px
  z-index 1
  background-repeat no-repeat
  background-attachment fixed
  background-position 50% 0
  -webkit-filter blur(4px)
  -webkit-background-size cover
  -moz-background-size cover
  background-size cover
  margin -1px
  display none

.tv-poster-overlay
  position absolute
  width 100%
  height 100%
  opacity .4
  background-color #000
  z-index 2

.tv-cover
  position relative
  float left
  margin-left 28px
  margin-top 22px
  width 135px
  height 197px
  -moz-box-shadow 0 0 10px rgba(0, 0, 0, .4)
  -webkit-box-shadow 0 0 10px rgba(0, 0, 0, .4)
  box-shadow 0px 0px 10px
  z-index 3
  background-size 134px 197px
  border-radius 4px

.tv-title
  top 21px
  left 198px
  position relative
  z-index 3
  color #fff
  width 452px
  font-family 'Open Sans'
  -webkit-font-smoothing antialiased
  font-size 22px

.tv-overview
  margin-top 60px
  margin-left 198px
  z-index 3
  position relative
  color #fff
  font-family 'Open Sans Semibold'
  -webkit-font-smoothing: antialiased
  font-size 12px
  line-height 22px
  max-width 78%
  //height 110px


.tv-num-episodes
  margin-top 35px
  position relative
  z-index 3
  float left
  color #fff
  font-family: 'Open Sans Bold'
  -webkit-font-smoothing antialiased
  font-size 11px
  cursor default

.tv-genre
  margin-top 35px
  z-index 3
  position relative
  float left
  color #fff
  font-family 'Open Sans Bold'
  -webkit-font-smoothing antialiased
  font-size 11px
  cursor default

.tv-duration
  margin-top 35px
  position relative
  margin-left 198px
  float left
  color #fff
  width auto
  height auto
  font-family 'Open Sans Bold'
  -webkit-font-smoothing antialiased
  font-size 11px
  cursor default
  z-index 3

.tv-dot
  margin-top 39.5px
  position relative
  z-index 3
  margin-left 15px
  margin-right 15px
  float left
  width 3px
  height 3px
  -moz-border-radius 2px
  -webkit-border-radius 2px
  border-radius 2px
  -moz-background-clip padding
  -webkit-background-clip padding-box
  background-clip padding-box
  background-color #dbdbdd
  cursor default

.tv-rating-star
    z-index 2
    margin-right 3px
    margin-top 35px
    position relative
    float left
    width 11px
    height 11px
    opacity 1
    background-repeat no-repeat
    -webkit-backface-visibility hidden
    &.null
      background-image url('../../images/icons/StarGray.png')
    &.half
      background-image url('../../images/icons/StarHalf.png')
    &.full
      background-image url('../../images/icons/star.png')


.episode-base
    margin-top 233px

#tabs_season
    position absolute
    list-style none
    margin-top 10px
    margin-left 35px
    color white 

    a
        text-decoration none
        color #707070
        font-size 15px
        font-weight normal
        margin 10px 0px

    li
        padding 9px 30px 9px 15px
        font-family sans-serif
        font-size 15px
        margin-left -10px
        border-left 1px solid #17181B
        margin 1px
    
        &:hover
            background #26272d
            color #dfdcdc

        a
            color #fff
            cursor pointer

    li:nth-child(odd)
        background-color #1F2025


    li.active
        background-color #1b2d4c
    
#tabs_episode_base
    padding 0px
    position relative
    z-index 2
    height 100%
    margin 0 150px
    color #fff

    a
        text-decoration none
        color #fff
        font-size 15px
        font-weight normal
        margin 10px 0px

    ul
        position absolute
        margin 0
        padding 10px 18px 10px 0
        margin-left 10px
        list-style none
        min-width 60%
        background #17181b
        
        li
            padding 0
            min-width 360px
            margin 1px

            &:hover
                background #26272d
                color #dfdcdc

        li:nth-child(odd)
            background-color #1F2025

        li.active
            background-color #1b2d4c


    .current
        display block

.tabs-episode
    display none

#tabs_season .active
    position relative

    &:after
        content ""
        position absolute
        top 0px
        right -12px
        width 0
        height 0
        border-color transparent transparent transparent #1b2d4c
        border-style solid
        border-width 16px 6px 17px 6px
    
    span 
        right 11px
#tabs_episode_base .active
    position relative

    &:after
        content ""
        position absolute
        top 0px
        right -12px
        width 0
        height 0
        border-color transparent transparent transparent #1b2d4c
        border-style solid
        border-width 16px 6px 17px 6px
    
    span 
        right 11px
.display-base-title
    width 100%
    color #fff
    height 60px
    font-size 23px
    line-height 12px
    padding 20px 0
    position fixed
    top 273px
    z-index 3
    background #17181b
    
.season-episode-container
    padding-top 50px

.episodeData span
    padding 9px 18px 9px 20px
    font-weight 800

    &:first-child
        width 57px
        display inline-block
        border-right 1px solid #17181B
        text-align right
    
    &:last-child
        color #8d9296
        font-weight 100
        padding-left 34px

.episode-list-text
    display inline-block
    margin 10px -10px 0 37px

.watched-false
    position absolute
    right 30px
    opacity 0.1
    padding 10px 0
    
    img
        width 20px

.watched-true
    position absolute
    right 30px
    opacity 1
    padding 10px 0

    img
        width 20px

.episode-info
    background-color #1f2025
    float right
    width 44%
    color #FFF
    padding 30px
    height 100%
    line-height initial
    position fixed
    margin-left auto
    margin-right auto
    right 0
    z-index 4

    p
        font-size 22px
        margin -22px 0 10px

.episode-info-number
    display inline-block
    font-size 21px

.episode-info-date
    font-weight 100
    font-size 12px
    color gray
    margin-top 16px
    margin-bottom 7px

.episode-info-title
    font-weight 100
    font-size 12px
    color gray
    display inline-block
    margin-left 12px
    
.episode-info-description
    font-size 13px
    font-weight 100
    line-height 20px
    margin-top 10px
    max-height 30%
    overflow-y auto
    background rgba(255, 255, 255, 0.02)
    padding 10px

.movie-btn-watch-episode
    right 20px
    bottom 290px
    z-index 2
    position absolute
    cursor pointer
    width 120px
    padding 7px 15px
    height 35px
    font-weight 100
    font-size 15px
    -webkit-border-radius 3px
    -webkit-border-radius 3px
    border-radius 3px
    -webkit-background-clip padding-box
    -webkit-background-clip padding
    background-clip padding-box
    background-color #458de3

@media all and (min-width: 1300px)
    .episode-info
        width 50%
    
    #tabs_episode_base ul
        min-width 47%

@media all and (min-width: 700px) and (max-width: 1300px)
    .episode-info
        width 36%

    #tabs_episode_base ul
        min-width 68%
        
@media all and (min-width: 700px) and (max-width: 1150px)
    #tabs_episode_base ul
        min-width 60%

@media all and (min-height: 700px) 
    .episode-info-description
         max-height 45%

@media all and (min-height: 900px) 
    .episode-info-description
         max-height 55%
         
@media all and (min-height: 1040px) 
    .episode-info-description
         max-height 65%
