.shows-container-contain
    background-color #17181b
    height 100%
    width 100%
    position fixed
    //scrollable()
    padding-top: 40px
    &::-webkit-scrollbar-track
        margin-top: 40px

.episodeSummary
    cursor pointer

.star-container-tv
  opacity 1
  float left
  margin-top 35px

.season-ep-bar
    width 1px
    height 100%
    position absolute
    background-color #3a3b3e
    z-index 4
    left 200px

.tv-meta-data
    height 100%
    width 100%
    position absolute

.tv-container-close
    top 55px
    right 20px
    position fixed
    float right
    width 16px
    -webkit-filter drop-shadow(0px 0px 1px #17181b)
    height 16px
    background-image url('../../images/icons/Close.png')
    cursor pointer
    opacity 1
    -webkit-backface-visibility hidden
    z-index 4

.tv-poster
    position fixed
    width 100%
    height 273px
    top 0
    padding-top 40px
    z-index 3
    overflow hidden
    background #17181b


.tv-poster-background 
  position absolute
  width 100%
  height 237px
  z-index 1
  background-repeat no-repeat
  background-attachment fixed
  background-position 50% 0
  opacity 0.5
  -webkit-background-size cover
  -moz-background-size cover
  background-size cover
  display none

.tv-poster-overlay
  position absolute
  width 100%
  height 100%
  opacity .4
  background-color #000
  z-index 2

.tv-cover
  position relative
  float left
  margin-left 28px
  margin-top 22px
  width 135px
  height 197px
  -moz-box-shadow 0 0 10px rgba(0, 0, 0, .4)
  -webkit-box-shadow 0 0 10px rgba(0, 0, 0, .4)
  box-shadow 0px 0px 10px
  z-index 3
  background-size 134px 197px
  border-radius 4px

.tv-title
  top 21px
  left 198px
  position relative
  z-index 3
  color #fff
  width 452px
  font-family 'Open Sans'
  -webkit-font-smoothing antialiased
  font-size 22px

.tv-overview
  margin-top 60px
  margin-left 198px
  z-index 3
  position relative
  color #fff
  font-family 'Open Sans Semibold'
  -webkit-font-smoothing: antialiased
  font-size 12px
  line-height 22px
  max-width 78%
  //height 110px


.tv-num-episodes
  margin-top 35px
  position relative
  z-index 3
  float left
  color #fff
  font-family: 'Open Sans Bold'
  -webkit-font-smoothing antialiased
  font-size 11px
  cursor default

.tv-genre
  margin-top 35px
  z-index 3
  position relative
  float left
  color #fff
  font-family 'Open Sans Bold'
  -webkit-font-smoothing antialiased
  font-size 11px
  cursor default

.tv-status
  margin-top 35px
  z-index 3
  position relative
  float left
  color #fff
  font-family 'Open Sans Bold'
  -webkit-font-smoothing antialiased
  font-size 11px
  cursor default

.tv-duration
  margin-top 35px
  position relative
  margin-left 198px
  float left
  color #fff
  width auto
  height auto
  font-family 'Open Sans Bold'
  -webkit-font-smoothing antialiased
  font-size 11px
  cursor default
  z-index 3

.tv-dot
  margin-top 39.5px
  position relative
  z-index 3
  margin-left 15px
  margin-right 15px
  float left
  width 3px
  height 3px
  -moz-border-radius 2px
  -webkit-border-radius 2px
  border-radius 2px
  -moz-background-clip padding
  -webkit-background-clip padding-box
  background-clip padding-box
  background-color #dbdbdd
  cursor default

.tv-rating-star
    z-index 2
    margin-right 3px
    //margin-top 35px
    position relative
    float left
    width 11px
    height 11px
    opacity 1
    background-repeat no-repeat
    -webkit-backface-visibility hidden
    &.null
      background-image url('../../images/icons/StarGray.png')
    &.half
      background-image url('../../images/icons/StarHalf.png')
    &.full
      background-image url('../../images/icons/star.png')


.episode-base
    margin-top 233px

#tabs_base
    position: absolute
    width: 100%
    height: 100%

#tabs_season
    position relative
    list-style none
    margin-top 10px
    margin-left 30px
    color white
    width: 13%
    height: calc(100% - 350px)
    display: inline-block
    padding-right: 12px
    scrollable()
    
    a
        text-decoration none
        color #707070
        font-size 15px
        font-weight normal
        margin 10px 0px

    li:nth-child(odd)
        background-color #1F2025

    li
        padding 9px 15px 9px 15px
        font-family sans-serif
        font-size 15px
        margin-left -10px
        border-left 1px solid #17181B
        margin 1px
    
        &:hover
            background #26272d
            color #dfdcdc

        a
            color #fff
            cursor pointer

    li.active
        background-color #1b2d4c
        position relative

        &:after
            content ""
            position absolute
            top 0px
            right -12px
            width 0
            height 0
            border-color transparent transparent transparent #1b2d4c
            border-style solid
            border-width 16px 6px 17px 6px
		
        span 
            right 11px
            color white
    
#tabs_episode_base
    position relative
    z-index 2
    color #fff
    width: 48%
    height calc(100% - 350px)
    display: inline-block
    scrollable()

    a
        text-decoration none
        color #fff
        font-size 15px
        font-weight normal
        margin 10px 0px

    .current
        display block

    ul
        position relative
        margin 0
        list-style none
        background #17181b

        li:nth-child(odd)
            background-color #1F2025
        
        li
            padding 0
            min-width 360px
            margin 1px

            &:hover
                background #26272d
                color #dfdcdc

        li.active
            background-color #1b2d4c
            position relative

            div
                color white

.tabs-episode
    display none
    
.display-base-title
    width 100%
    color #fff
    height 60px
    font-size 23px
    padding 20px 0
    position fixed
    top 273px
    z-index 3
    background #17181b
    
    .episode-list-seasons
        display inline-block
        margin-left: 30px
        width: 13%
    
    .episode-list-episodes
        display inline-block
    
.season-episode-container
    padding-top 50px

.episodeData span
    padding 9px 18px 9px 20px
    font-weight 800

    &:first-child
        width 57px
        display inline-block
        border-right 1px solid #17181B
        text-align right
    
.episodeData div
    color #8d9296
    font-weight 100
    padding-left 34px
    display inline-block
    max-width 80%
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    padding-bottom 3px
    vertical-align -5px

.watched-false
    position absolute
    right 20px
    opacity 0.1
    padding 10px 0

    &:hover
      opacity 0.4

    img
        width 20px

.watched-true
    position absolute
    right 20px
    opacity 1
    padding 10px 0

    img
        width 20px

.episode-info
    background-color #1f2025
    float right
    width 44%
    color #FFF
    padding 30px
    height 100%
    line-height initial
    position fixed
    margin-left auto
    margin-right auto
    right 0
    z-index 4

    p
        font-size 22px
        margin -22px 0 10px

.episode-info-title
    display inline-block
    font-size 21px
    max-width 75%
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.episode-info-number
    font-weight 100
    font-size 10px
    color #8d9296
    display inline
    margin-left 3%
    position absolute
    top 39px
    
.episode-info-date
    font-weight 100
    font-size 12px
    color #8d9296
    margin-top 16px
    margin-bottom 7px

.episode-info-description
    font-size 13px
    font-weight 100
    line-height 20px
    margin-top 10px
    max-height 23%
    overflow-y auto
    padding 10px 10px 10px 0
    scrollable()

.movie-btn-watch-episode
    right 20px
    bottom 290px
    z-index 2
    position absolute
    cursor pointer
    padding 7px 15px
    height 35px
    font-weight 100
    font-size 15px
    border-radius 3px
    background-clip padding-box
    background-color #1F375F
    transition background-color .5s
    &:hover
        background-color #225694

@media all and (min-width: 1300px)
    .episode-info
        width 46%
    
    #tabs_episode_base
        width 38%

@media all and (min-width: 700px) and (max-width: 1300px)
    .episode-info
        width 35%

    #tabs_episode_base
        width 48%
    
    .episode-info-title
        font-size 18px
    
    .episode-info-number
        top 36px
    

@media all and (min-height: 700px) 
    .episode-info-description
         max-height 42%

@media all and (min-height: 900px) 
    .episode-info-description
         max-height 52%
         
@media all and (min-height: 1040px) 
    .episode-info-description
         max-height 62%
